<template>
  <div>
    <Bar class="block" :data="data" :options="options" ref="bar" />
    <h4 class="text-sm font-medium">{{ t('TOTAL_RECORDS') }}: {{ total }}</h4>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import { Bar } from 'vue-chartjs'
import {
  Chart as ChartJS,
  Title,
  Tooltip,
  Legend,
  BarElement,
  CategoryScale,
  LinearScale,
  type ChartData,
  type ChartOptions,
} from 'chart.js'
import useCitizenStore from '@/stores/citizen'
import { useI18n } from 'vue-i18n'
ChartJS.register(Title, Tooltip, Legend, BarElement, LinearScale, CategoryScale)

defineExpose({ load })
const { t } = useI18n()
const citizenStore = useCitizenStore()
const data = ref<ChartData<'bar'>>({ datasets: [] } as ChartData<'bar'>)
const total = ref(0)
const options: ChartOptions<'bar'> = {
  responsive: true,
  backgroundColor: '#0f62fe',
  plugins: { legend: { display: false } },
  scales: { y: { ticks: { stepSize: 10 } } },
}

async function load(barangayId: string) {
  const statuses = await citizenStore.fetchStatusesReport(barangayId)
  if (!statuses || citizenStore.error) return
  total.value = Object.values(statuses).reduce((total, count) => {
    total += count
    return total
  }, 0)
  console.log(total.value)
  const labels = [
    'MEMBER_STATUS_CODE_01',
    'MEMBER_STATUS_CODE_02',
    'MEMBER_STATUS_CODE_03',
    'MEMBER_STATUS_CODE_05',
    'MEMBER_STATUS_CODE_06',
    'MEMBER_STATUS_CODE_07',
    'REVOKED',
  ]
  data.value = {
    labels: labels.map((label) => t(label)),
    datasets: [{ data: labels.map((label) => statuses[label] || 0) }],
  }
}
</script>

<style scoped></style>
