<template>
  <h4 class="font-medium">{{ t('BARANGAY_INFORMATION_FORM') }}</h4>
  <FormField
    type="text"
    :label="t('BARANGAY_NAME')"
    v-model="payload.name"
    :disabled="barangayStore.loading"
    :error="errors.name"
    @blur="validate"
    :submitted="submitted"
    class="mt-2"
  />
  <FormField
    type="text"
    :label="`${t('ADMINISTRATOR')} ${t('USERNAME')}`"
    :value="`${payload.name.toLowerCase().replace(' ', '_')}_admin`"
    disabled
    class="mt-2"
  />
  <FormField
    type="text"
    :label="`${t('ADMINISTRATOR')} ${t('PASSWORD')}`"
    v-model="payload.adminPassword"
    :error="errors.adminPassword"
    @blur="validate"
    :submitted="submitted"
    :disabled="barangayStore.loading"
    class="mt-2"
  />
  <div class="input-group mt-2">
    <label for="mapCenter">{{ t('MAP_CENTER') }}</label>
    <GMapAutocomplete
      @place_changed="setMapPlace"
      placeholder="Binmaley, Pangasinan, Philippines"
      id="mapCenter"
      class="d-block mb-4 h-10 w-full border-b-1 border-b-gray-500 bg-gray-100 px-2 focus:border-none focus:outline-none focus:ring"
      :disabled="barangayStore.loading"
    >
    </GMapAutocomplete>
    <GMapMap :center="payload.coordinates" :zoom="15" class="h-96 w-full">
      <GMapMarker :position="payload.coordinates" :draggable="true" />
    </GMapMap>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import useBarangayStore, { type Barangay } from '@/stores/barangay'
import { useI18n } from 'vue-i18n'
import FormField from '../ui/FormField.vue'
import type { FieldErrors } from '@/types/components'
import { validateBarangay } from '@/utils/barangay-record-validation'

type BarangayPayload = Omit<Barangay, '_id'> & {
  adminPassword: string
  coordinates: { lat: number; lng: number }
}

const { t } = useI18n()
const barangayStore = useBarangayStore()
const $emit = defineEmits(['recordCreated', 'onValidate'])
const payload = ref<BarangayPayload>({
  name: '',
  adminPassword: '',
  coordinates: { lat: 15.9988508, lng: 120.2858846 },
})
const submitted = ref(false)
const errors = ref<FieldErrors<typeof payload.value>>({})

async function submit() {
  submitted.value = true
  const validatedPayload = validate()
  if (!validatedPayload) return
  const record = await barangayStore.register(validatedPayload)
  if (!record || barangayStore.error) return
  reset()
  $emit('recordCreated', record)
}

function validate() {
  const result = validateBarangay(payload.value)
  if (result.errors) {
    errors.value = { ...result.errors }
    $emit('onValidate', false)
    return
  }
  $emit('onValidate', true)
  errors.value = {}
  return result.payload
}

function setMapPlace(event: any) {
  payload.value.coordinates.lat = event.geometry.location.lat()
  payload.value.coordinates.lng = event.geometry.location.lng()
}

function reset() {
  payload.value = {
    name: '',
    adminPassword: '',
    coordinates: { lat: 15.9988508, lng: 120.2858846 },
  }
}

defineExpose({ submit, reset })
</script>
