<template>
  <div class="grid grid-cols-2">
    <div class="col-span-2 whitespace-pre-wrap">
      {{ t('TERMS_AND_CONDITIONS_CONTENT') }}
    </div>
    <div
      class="col-span-2 mt-8 whitespace-pre-wrap bg-gray-400 p-4 font-medium text-white"
    >
      {{ t('TERMS_AND_CONDITIONS_NOTICE') }}
    </div>
    <div class="mt-10 grid grid-flow-row gap-4">
      <img
        v-show="fields.validatorSignature"
        :src="fields.validatorSignature"
        class="h-24"
      />
      <a
        class="text-danger"
        v-if="fields.validatorSignature"
        @click="fields.validatorSignature = ''"
        >{{ t('REMOVE_SIGNATURE') }}</a
      >
      <a v-else @click.prevent="openSignaturePad('validatorSignature')">{{
        t('ADD_SIGNATURE')
      }}</a>
      <FormField
        type="text"
        v-model="fields.validatorName"
        :error="errors.validatorName"
        @blur="validate"
        :submitted="submitted"
        :label="t('VALIDATOR_NAME')"
      />
      <img
        v-show="fields.immediateSupervisorSignature"
        :src="fields.immediateSupervisorSignature"
        class="h-24"
      />
      <a
        class="text-danger"
        v-if="fields.immediateSupervisorSignature"
        @click="fields.immediateSupervisorSignature = ''"
        >{{ t('REMOVE_SIGNATURE') }}</a
      >
      <a
        href=""
        v-else
        @click.prevent="openSignaturePad('immediateSupervisorSignature')"
        >{{ t('ADD_SIGNATURE') }}</a
      >
      <FormField
        type="text"
        v-model="fields.immediateSupervisorName"
        :error="errors.immediateSupervisorName"
        @blur="validate"
        :submitted="submitted"
        :label="t('IMMEDIATE_SUPERVISOR_NAME')"
      />
      <FormField
        type="text"
        v-model="fields.immediateSupervisorPosition"
        :error="errors.immediateSupervisorPosition"
        @blur="validate"
        :submitted="submitted"
        :label="t('IMMEDIATE_SUPERVISOR_POSITION')"
      />
      <img
        v-show="fields.beneficiarySignature"
        :src="fields.beneficiarySignature"
        class="h-24"
      />
      <a
        class="text-danger"
        v-if="fields.beneficiarySignature"
        @click="fields.beneficiarySignature = ''"
        >{{ t('REMOVE_SIGNATURE') }}</a
      >
      <a v-else @click.prevent="openSignaturePad('beneficiarySignature')">{{
        t('ADD_SIGNATURE')
      }}</a>
      <FormField
        type="text"
        v-model="fields.beneficiaryName"
        :error="errors.beneficiaryName"
        @blur="validate"
        :submitted="submitted"
        :label="t('BENEFICIARY_NAME')"
      />
    </div>
    <modal ref="modalRef">
      <template v-slot:content>
        <VueSignaturePad width="400px" height="100px" ref="signaturePad" />
      </template>
      <template v-slot:footer>
        <div class="grid grid-cols-2">
          <button
            class="btn btn-secondary w-full text-lg"
            @click="signaturePad?.undoSignature"
          >
            {{ t('UNDO') }}
          </button>
          <button
            class="btn btn-primary w-full text-lg"
            type="button"
            @click="saveSignature"
          >
            {{ t('DONE') }}
          </button>
        </div>
      </template>
    </modal>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import { useI18n } from 'vue-i18n'
import FormField from '@/components/ui/FormField.vue'
import Modal from '@/components/ui/Modal.vue'
import { type CustomModal, type FieldErrors } from '@/types/components'
import { validateFinalStep } from '@/utils/indigent-record-validation'

defineExpose({ populate, submit })
const $emit = defineEmits(['onValidate'])
const { t } = useI18n()
const fields = ref({
  validatorSignature: '',
  validatorName: '',
  immediateSupervisorName: '',
  immediateSupervisorSignature: '',
  immediateSupervisorPosition: '',
  beneficiaryName: '',
  beneficiarySignature: '',
})
const submitted = ref(false)
const errors = ref<FieldErrors<typeof fields.value>>({})
const signatureField = ref<keyof typeof fields.value | null>(null)
const modalRef = ref<CustomModal>()
const signaturePad = ref<{
  saveSignature: () => Promise<{ data: string }>
  undoSignature: () => void
}>()

function populate(payload: typeof fields.value) {
  fields.value = { ...payload }
}

function submit() {
  submitted.value = true
  return validate()
}

function validate() {
  const result = validateFinalStep(fields.value)
  if (result.errors) {
    errors.value = { ...result.errors }
    $emit('onValidate', false)
    return
  }
  $emit('onValidate', true)
  errors.value = {}
  return result.payload
}

function openSignaturePad(field: keyof typeof fields.value) {
  signatureField.value = field
  modalRef.value?.open()
}

async function saveSignature() {
  const result = await signaturePad.value?.saveSignature()
  if (result?.data && signatureField.value) {
    fields.value[signatureField.value] = result.data
    signatureField.value = null
  }
  modalRef.value?.close()
}
</script>
