<template>
  <form class="grid grid-flow-row gap-5">
    <Field
      type="radio"
      v-model="fields.recommendation"
      :label="t('RECOMMENDATION')"
      :options="options.recommendation"
      :error="errors.recommendation"
      :submitted="submitted"
      @blur="validate(), broadcastDuplicate()"
    />
    <Field
      type="radio"
      v-if="fields.recommendation === 'RECOMMENDATION_CHOICE_06'"
      v-model="fields.recommendationCategory"
      :label="t('RECOMMENDATION_CATEGORY')"
      :options="options.recommendationCategory"
      :error="errors.recommendationCategory"
      :submitted="submitted"
      @blur="validate"
    />
    <Field
      type="textarea"
      v-model="fields.remarks"
      :label="t('REMARKS')"
      :options="options.remarks"
      :error="errors.remarks"
      :submitted="submitted"
      @blur="validate"
    />
  </form>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import { useI18n } from 'vue-i18n'
import Field from '@/components/ui/FormField.vue'
import { type FieldOption, type FieldErrors } from '@/types/components'
import { validateHousehold } from '@/utils/indigent-record-validation'

defineExpose({ populate, submit })
const $emit = defineEmits(['onValidate', 'onDuplicate'])
const { t } = useI18n()
const fields = ref({
  recommendation: '',
  recommendationCategory: '',
  remarks: '',
})
const submitted = ref(false)
const errors = ref<FieldErrors<typeof fields.value>>({})
const options: { [key: string]: FieldOption[] } = {
  recommendation: [
    {
      value: 'RECOMMENDATION_CHOICE_01',
      label: t('RECOMMENDATION_CHOICE_01'),
    },
    {
      value: 'RECOMMENDATION_CHOICE_02',
      label: t('RECOMMENDATION_CHOICE_02'),
    },
    {
      value: 'RECOMMENDATION_CHOICE_03',
      label: t('RECOMMENDATION_CHOICE_03'),
    },
    {
      value: 'RECOMMENDATION_CHOICE_04',
      label: t('RECOMMENDATION_CHOICE_04'),
    },
    {
      value: 'RECOMMENDATION_CHOICE_06',
      label: t('RECOMMENDATION_CHOICE_06'),
    },
  ],
  recommendationCategory: [
    {
      value: 'RECOMMENDATION_CATEGORY_01',
      label: t('RECOMMENDATION_CATEGORY_01'),
    },
    {
      value: 'RECOMMENDATION_CATEGORY_02',
      label: t('RECOMMENDATION_CATEGORY_02'),
    },
    {
      value: 'RECOMMENDATION_CATEGORY_03',
      label: t('RECOMMENDATION_CATEGORY_03'),
    },
  ],
}

function populate(payload: typeof fields.value) {
  fields.value = { ...payload }
}

function submit() {
  submitted.value = true
  return validate()
}

function validate() {
  const result = validateHousehold(fields.value)
  if (result.errors) {
    errors.value = { ...result.errors }
    $emit('onValidate', false)
    return
  }
  $emit('onValidate', true)
  errors.value = {}
  return result.payload
}

function broadcastDuplicate() {
  $emit(
    'onDuplicate',
    fields.value.recommendation === 'RECOMMENDATION_CHOICE_02'
  )
}
</script>

<style scoped></style>
