<template>
  <form class="grid gap-4">
    <Field
      type="text"
      :label="t('HOUSEHOLD_ID')"
      v-model="fields.hhId"
      :error="errors.hhId"
      @blur="validate"
      :submitted="submitted"
      required
    />
    <Field
      type="select"
      :label="t('HOUSEHOLD_STATUS')"
      v-model="fields.hhStatus"
      :options="options.hhStatus"
      :error="errors.hhStatus"
      @blur="validate"
      :submitted="submitted"
      required
    />
    <Field
      type="text"
      :label="t('FIRST_NAME')"
      v-model="fields.firstName"
      :error="errors.firstName"
      @blur="validate(), validateFullName()"
      required
      :submitted="submitted"
    />
    <Field
      type="text"
      :label="t('MIDDLE_NAME')"
      v-model="fields.middleName"
      :error="errors.middleName"
      @blur="validate(), validateFullName()"
      required
      :submitted="submitted"
    />
    <Field
      type="text"
      :label="t('LAST_NAME')"
      v-model="fields.lastName"
      :error="errors.lastName"
      @blur="validate(), validateFullName()"
      required
      :submitted="submitted"
    />
    <Field
      type="text"
      :label="t('EXTENSION_NAME')"
      v-model="fields.extensionName"
      :error="errors.extensionName"
      @blur="validate(), validateFullName()"
      :submitted="submitted"
    />
    <Field
      type="date"
      :label="t('BIRTHDATE')"
      v-model="fields.birthdate"
      :error="errors.birthdate"
      @blur="validate"
      limit-today
      :submitted="submitted"
    />
    <Field
      type="text"
      :label="t('CONTACT_NUMBER')"
      v-model="fields.contactNumber"
      :error="errors.contactNumber"
      @blur="validate"
      :submitted="submitted"
    />
    <Field
      type="date"
      :label="t('DATE_OF_ENUMERATION')"
      v-model="fields.dateOfEnumeration"
      :error="errors.dateOfEnumeration"
      @blur="validate"
      limit-today
      :submitted="submitted"
    />
  </form>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import { useI18n } from 'vue-i18n'
import Field from '@/components/ui/FormField.vue'
import { type FieldOption, type FieldErrors } from '@/types/components'
import { validateHHInformation } from '@/utils/indigent-record-validation'
import useCitizenStore from '@/stores/citizen'

defineExpose({ populate, submit })
const $emit = defineEmits(['onValidate'])
const { t } = useI18n()
const citizenStore = useCitizenStore()
const submitted = ref(false)
const fields = ref({
  hhId: '',
  hhStatus: '',
  firstName: '',
  middleName: '',
  lastName: '',
  extensionName: '',
  birthdate: '',
  contactNumber: '',
  dateOfEnumeration: '',
})
const errors = ref<FieldErrors<typeof fields.value>>({})
const options: { [key: string]: FieldOption[] } = {
  hhStatus: [
    {
      value: 'MEMBER_STATUS_CODE_01',
      label: t('MEMBER_STATUS_CODE_01'),
    },
    {
      value: 'MEMBER_STATUS_CODE_02',
      label: t('MEMBER_STATUS_CODE_02'),
    },
    {
      value: 'MEMBER_STATUS_CODE_03',
      label: t('MEMBER_STATUS_CODE_03'),
    },
    // {
    //   value: 'MEMBER_STATUS_CODE_05',
    //   label: t('MEMBER_STATUS_CODE_05'),
    // },
    {
      value: 'MEMBER_STATUS_CODE_06',
      label: t('MEMBER_STATUS_CODE_06'),
    },
    {
      value: 'MEMBER_STATUS_CODE_07',
      label: t('MEMBER_STATUS_CODE_07'),
    },
  ],
}

function populate(payload: typeof fields.value) {
  fields.value = { ...payload }
}

function submit() {
  submitted.value = true
  return validate()
}

function validate() {
  const result = validateHHInformation(fields.value)
  if (result.errors) {
    errors.value = { ...result.errors }
    $emit('onValidate', false)
    return
  }
  $emit('onValidate', true)
  errors.value = {}
  return result.payload
}

async function validateFullName() {
  const { firstName, middleName, lastName, extensionName } = fields.value
  if (!firstName || !middleName || !lastName) return
  const records = await citizenStore.checkHits({
    firstName,
    middleName,
    lastName,
    extensionName: extensionName || undefined,
  })
  if (records?.length) {
    errors.value.firstName = t('DUPLICATE_CITIZEN_ENTRY')
    errors.value.middleName = t('DUPLICATE_CITIZEN_ENTRY')
    errors.value.lastName = t('DUPLICATE_CITIZEN_ENTRY')
    errors.value.extensionName = t('DUPLICATE_CITIZEN_ENTRY')
  } else {
    delete errors.value.firstName
    delete errors.value.middleName
    delete errors.value.lastName
    delete errors.value.extensionName
  }
}
</script>

<style scoped lang="scss"></style>
