<template>
  <form>
    <FormField
      type="select"
      :label="t('MEMBER_TYPE')"
      :options="options.memberType"
      :error="errors.memberType"
      v-model="fields.memberType"
      :submitted="submitted"
      @blur="validate"
    />
    <FormField
      type="select"
      :label="t('MEMBER_STATUS')"
      :options="options.memberStatus"
      :error="errors.memberStatus"
      v-model="fields.memberStatus"
      :submitted="submitted"
      @blur="validate"
    />
    <FormField
      type="text"
      :label="t('FIRST_NAME')"
      :error="errors.firstName"
      v-model="fields.firstName"
      :submitted="submitted"
      @blur="validate"
    />
    <FormField
      type="text"
      :label="t('MIDDLE_NAME')"
      :error="errors.middleName"
      v-model="fields.middleName"
      :submitted="submitted"
      @blur="validate"
    />
    <FormField
      type="text"
      :label="t('LAST_NAME')"
      :error="errors.lastName"
      v-model="fields.lastName"
      :submitted="submitted"
      @blur="validate"
    />
    <FormField
      type="text"
      :label="t('EXTENSION_NAME')"
      :error="errors.extensionName"
      v-model="fields.extensionName"
      :submitted="submitted"
      @blur="validate"
    />
    <FormField
      type="date"
      :label="t('BIRTHDATE')"
      :error="errors.birthdate"
      v-model="fields.birthdate"
      :submitted="submitted"
      limit-today
      @blur="validate"
    />
    <!-- age hidden input -->
    <input type="hidden" :value="fields.age" />
    <FormField
      type="radio"
      :label="t('GENDER')"
      :error="errors.gender"
      :options="options.gender"
      v-model="fields.gender"
      :submitted="submitted"
      @blur="validate"
    />
    <FormField
      v-if="fields.gender === Gender.FEMALE"
      type="radio"
      :label="t('DECLARED_PREGNANCY_STATUS')"
      :error="errors.declaredPregnancyStatus"
      :options="options.declaredPregnancyStatus"
      v-model="fields.declaredPregnancyStatus"
      :submitted="submitted"
      @blur="validate"
    />
    <FormField
      v-if="fields.gender === Gender.FEMALE"
      type="radio"
      :label="t('PREGNANCY_STATUS')"
      :error="errors.pregnancyStatus"
      :options="options.pregnancyStatus"
      v-model="fields.pregnancyStatus"
      :submitted="submitted"
      @blur="validate"
    />
    <FormField
      v-if="fields.pregnancyStatus === 'PREGNANCY_STATUS_CODE_01'"
      type="date"
      :label="t('LMP_LABEL')"
      :error="errors.lmp"
      v-model="fields.lmp"
      :submitted="submitted"
      @blur="validate"
    />
    <FormField
      type="radio"
      :label="t('PWD_LABEL')"
      :error="errors.pwd"
      :options="options.pwd"
      v-model="fields.pwd"
      :submitted="submitted"
      @blur="validate"
    />
    <FormField
      type="select"
      :label="t('RELATIONSHIP_TO_HOUSEHOLD_HEAD')"
      :error="errors.relationshipToHH"
      :options="options.realtionshipToHH"
      v-model="fields.relationshipToHH"
      :submitted="submitted"
      @blur="validate"
    />
    <FormField
      type="radio"
      :label="t('SOLO_PARENT_LABEL')"
      :error="errors.soloParent"
      :options="options.soloParent"
      v-model="fields.soloParent"
      :submitted="submitted"
      @blur="validate"
    />
    <FormField
      type="select"
      :label="t('MARITAL_STATUS')"
      :error="errors.maritalStatus"
      :options="options.maritalStatus"
      v-model="fields.maritalStatus"
      :submitted="submitted"
      @blur="validate"
    />
    <FormField
      type="radio"
      :label="t('IP_MEMBER_LABEL')"
      :error="errors.ipMember"
      :options="options.ipMember"
      v-model="fields.ipMember"
      :submitted="submitted"
      @blur="validate"
    />
    <FormField
      v-if="fields.ipMember"
      type="select"
      :label="t('IP_GROUP_CUSTOM_NAME_LABEL')"
      :options="options.ipCustomName"
      :error="errors.ipCustomName"
      v-model="fields.ipCustomName"
      :submitted="submitted"
      @blur="validate"
    />
    <FormField
      type="text"
      :label="t('MOTHERS_MAIDEN_NAME')"
      :error="errors.mothersMaidenName"
      v-model="fields.mothersMaidenName"
      :submitted="submitted"
      @blur="validate"
    />
    <FormField
      type="toggle"
      :label="t('SELECT_AS_HH_GRANTEE')"
      :error="errors.hhGrantee"
      v-model="fields.hhGrantee"
      :submitted="submitted"
      @blur="validate"
    />
    <FormField
      v-if="fields.age <= 5"
      type="radio"
      :label="t('VISITING_HF')"
      :error="errors.visitingHF"
      :options="options.visitingHF"
      v-model="fields.visitingHF"
      :submitted="submitted"
      @blur="validate"
    />
    <FormField
      v-if="fields.age <= 5 && isFalse(fields.visitingHF)"
      type="select"
      :label="t('REASON_FOR_NOT_VISITING_HEALTH_FACILITY')"
      :error="errors.reasonForNotVisitingHF"
      :options="options.reasonForNotVisitingHF"
      v-model="fields.reasonForNotVisitingHF"
      :submitted="submitted"
      @blur="validate"
    />
    <FormField
      v-if="fields.age <= 5 && fields.visitingHF"
      type="text"
      :label="t('HF_NAME')"
      :error="errors.hfName"
      v-model="fields.hfName"
      :submitted="submitted"
      @blur="validate"
    />
    <FormField
      v-if="fields.age <= 5 && fields.visitingHF"
      type="text"
      :label="t('HF_ADDRESS')"
      :error="errors.hfAddress"
      v-model="fields.hfAddress"
      :submitted="submitted"
      @blur="validate"
    />
    <FormField
      v-if="fields.age <= 5 && fields.visitingHF"
      type="text"
      :label="t('HF_ID')"
      :error="errors.hfId"
      v-model="fields.hfId"
      :submitted="submitted"
      @blur="validate"
    />
    <FormField
      v-if="fields.age <= 5 && fields.visitingHF"
      type="text"
      :label="t('PHILSYS_CARD_NO')"
      :error="errors.philSysCardNo"
      v-model="fields.philSysCardNo"
      :submitted="submitted"
      @blur="validate"
    />
    <FormField
      type="toggle"
      :label="t('SET_CVS_EDUCATION')"
      :error="errors.cvsEducation"
      v-model="fields.cvsEducation"
      :submitted="submitted"
      @blur="validate"
    />
    <FormField
      type="radio"
      :label="t('ATTENDING_SCHOOL')"
      :error="errors.attendingSchool"
      :options="options.attendingSchool"
      v-model="fields.attendingSchool"
      :submitted="submitted"
      @blur="validate"
    />
    <FormField
      v-if="isFalse(fields.attendingSchool)"
      type="select"
      :label="t('REASON_FOR_NOT_ATTENDING_SCHOOL')"
      :error="errors.reasonForNotAttendingSchool"
      :options="options.reasonForNotAttendingSchool"
      v-model="fields.reasonForNotAttendingSchool"
      :submitted="submitted"
      @blur="validate"
    />
    <FormField
      v-if="fields.attendingSchool"
      type="text"
      :label="t('SCHOOL_NAME')"
      :error="errors.schoolName"
      v-model="fields.schoolName"
      :submitted="submitted"
      @blur="validate"
    />
    <FormField
      v-if="fields.attendingSchool"
      type="text"
      :label="t('SCHOOL_ADDRESS')"
      :error="errors.schoolAddress"
      v-model="fields.schoolAddress"
      :submitted="submitted"
      @blur="validate"
    />
    <FormField
      v-if="fields.attendingSchool"
      type="text"
      :label="t('SCHOOL_FACILITY_ID')"
      :error="errors.schoolFacilityId"
      v-model="fields.schoolFacilityId"
      :submitted="submitted"
      @blur="validate"
    />
    <FormField
      v-if="fields.attendingSchool"
      type="text"
      :label="t('LRN')"
      :error="errors.lrn"
      v-model="fields.lrn"
      :submitted="submitted"
      @blur="validate"
    />
    <FormField
      type="select"
      :label="t('HIGHEST_EDUC_ATTAINMENT_LABEL')"
      :error="errors.education"
      :options="options.education"
      v-model="fields.education"
      :submitted="submitted"
      @blur="validate"
    />
    <button
      class="btn btn-danger mt-4"
      type="button"
      @click="$emit('removeMember')"
    >
      <TrashIcon class="h-4 w-4" />
    </button>
  </form>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import { useI18n } from 'vue-i18n'
import { parse, differenceInYears } from 'date-fns'
import FormField from '@/components/ui/FormField.vue'
import { TrashIcon } from '@heroicons/vue/24/solid'
import { type FieldOption, type FieldErrors } from '@/types/components'
import { validateHHMember } from '@/utils/indigent-record-validation'

enum Gender {
  MALE = 'M',
  FEMALE = 'F',
}

defineExpose({ populate, submit })
const $emit = defineEmits(['onValidate', 'removeMember'])
const { t } = useI18n()
const fields = ref({
  memberType: '',
  memberStatus: '',
  firstName: '',
  middleName: '',
  lastName: '',
  extensionName: '',
  birthdate: '',
  age: 0,
  gender: '',
  declaredPregnancyStatus: '',
  pregnancyStatus: '',
  lmp: '',
  pwd: '',
  relationshipToHH: '',
  soloParent: '',
  maritalStatus: '',
  ipMember: '',
  ipCustomName: '',
  mothersMaidenName: '',
  hhGrantee: false,
  visitingHF: '',
  reasonForNotVisitingHF: '',
  hfName: '',
  hfAddress: '',
  hfId: '',
  philSysCardNo: '',
  cvsEducation: false,
  attendingSchool: '',
  reasonForNotAttendingSchool: '',
  schoolName: '',
  schoolAddress: '',
  schoolFacilityId: '',
  lrn: '',
  education: '',
})
const submitted = ref(false)
const errors = ref<FieldErrors<typeof fields.value>>({})
const options: { [key: string]: FieldOption[] } = {
  memberType: [
    {
      value: 'MEMBER_TYPE_CODE_01',
      label: t('MEMBER_TYPE_CODE_01'),
    },
    {
      value: 'MEMBER_TYPE_CODE_02',
      label: t('MEMBER_TYPE_CODE_02'),
    },
    {
      value: 'MEMBER_TYPE_CODE_03',
      label: t('MEMBER_TYPE_CODE_03'),
    },
  ],
  memberStatus: [
    {
      value: 'MEMBER_STATUS_CODE_01',
      label: t('MEMBER_STATUS_CODE_01'),
    },
    {
      value: 'MEMBER_STATUS_CODE_02',
      label: t('MEMBER_STATUS_CODE_02'),
    },
    {
      value: 'MEMBER_STATUS_CODE_03',
      label: t('MEMBER_STATUS_CODE_03'),
    },
    {
      value: 'MEMBER_STATUS_CODE_05',
      label: t('MEMBER_STATUS_CODE_05'),
    },
    {
      value: 'MEMBER_STATUS_CODE_06',
      label: t('MEMBER_STATUS_CODE_06'),
    },
    {
      value: 'MEMBER_STATUS_CODE_07',
      label: t('MEMBER_STATUS_CODE_07'),
    },
  ],
  gender: [
    {
      value: Gender.FEMALE,
      label: t('FEMALE'),
    },
    {
      value: Gender.MALE,
      label: t('MALE'),
    },
  ],
  declaredPregnancyStatus: [
    {
      value: 'DECLARED_PREGNANCY_STATUS_CODE_02',
      label: t('DECLARED_PREGNANCY_STATUS_CODE_02'),
    },
    {
      value: 'DECLARED_PREGNANCY_STATUS_CODE_03',
      label: t('DECLARED_PREGNANCY_STATUS_CODE_03'),
    },
    {
      value: 'DECLARED_PREGNANCY_STATUS_CODE_04',
      label: t('DECLARED_PREGNANCY_STATUS_CODE_04'),
    },
    {
      value: 'DECLARED_PREGNANCY_STATUS_CODE_05',
      label: t('DECLARED_PREGNANCY_STATUS_CODE_05'),
    },
  ],
  pregnancyStatus: [
    {
      value: 'PREGNANCY_STATUS_CODE_01',
      label: t('PREGNANCY_STATUS_CODE_01'),
    },
    {
      value: 'PREGNANCY_STATUS_CODE_04',
      label: t('PREGNANCY_STATUS_CODE_04'),
    },
    {
      value: 'PREGNANCY_STATUS_CODE_05',
      label: t('PREGNANCY_STATUS_CODE_05'),
    },
  ],
  pwd: [
    {
      value: true,
      label: t('YES'),
    },
    {
      value: false,
      label: t('NO'),
    },
  ],
  realtionshipToHH: [
    {
      value: 'RELATIONSHIP_TO_HOUSEHOLD_HEAD_CODE_02',
      label: t('RELATIONSHIP_TO_HOUSEHOLD_HEAD_CODE_02'),
    },
    {
      value: 'RELATIONSHIP_TO_HOUSEHOLD_HEAD_CODE_03',
      label: t('RELATIONSHIP_TO_HOUSEHOLD_HEAD_CODE_03'),
    },
    {
      value: 'RELATIONSHIP_TO_HOUSEHOLD_HEAD_CODE_04',
      label: t('RELATIONSHIP_TO_HOUSEHOLD_HEAD_CODE_04'),
    },
    {
      value: 'RELATIONSHIP_TO_HOUSEHOLD_HEAD_CODE_05',
      label: t('RELATIONSHIP_TO_HOUSEHOLD_HEAD_CODE_05'),
    },
    {
      value: 'RELATIONSHIP_TO_HOUSEHOLD_HEAD_CODE_06',
      label: t('RELATIONSHIP_TO_HOUSEHOLD_HEAD_CODE_06'),
    },
    {
      value: 'RELATIONSHIP_TO_HOUSEHOLD_HEAD_CODE_07',
      label: t('RELATIONSHIP_TO_HOUSEHOLD_HEAD_CODE_07'),
    },
    {
      value: 'RELATIONSHIP_TO_HOUSEHOLD_HEAD_CODE_08',
      label: t('RELATIONSHIP_TO_HOUSEHOLD_HEAD_CODE_08'),
    },
    {
      value: 'RELATIONSHIP_TO_HOUSEHOLD_HEAD_CODE_09',
      label: t('RELATIONSHIP_TO_HOUSEHOLD_HEAD_CODE_09'),
    },
    {
      value: 'RELATIONSHIP_TO_HOUSEHOLD_HEAD_CODE_10',
      label: t('RELATIONSHIP_TO_HOUSEHOLD_HEAD_CODE_10'),
    },
    {
      value: 'RELATIONSHIP_TO_HOUSEHOLD_HEAD_CODE_11',
      label: t('RELATIONSHIP_TO_HOUSEHOLD_HEAD_CODE_11'),
    },
  ],
  soloParent: [
    {
      value: true,
      label: t('YES'),
    },
    {
      value: false,
      label: t('NO'),
    },
  ],
  maritalStatus: [
    {
      value: 'MARITAL_STATUS_CODE_01',
      label: t('MARITAL_STATUS_CODE_01'),
    },
    {
      value: 'MARITAL_STATUS_CODE_02',
      label: t('MARITAL_STATUS_CODE_02'),
    },
    {
      value: 'MARITAL_STATUS_CODE_03',
      label: t('MARITAL_STATUS_CODE_03'),
    },
    {
      value: 'MARITAL_STATUS_CODE_04',
      label: t('MARITAL_STATUS_CODE_04'),
    },
    {
      value: 'MARITAL_STATUS_CODE_05',
      label: t('MARITAL_STATUS_CODE_05'),
    },
    {
      value: 'MARITAL_STATUS_CODE_06',
      label: t('MARITAL_STATUS_CODE_06'),
    },
  ],
  ipMember: [
    {
      value: true,
      label: t('YES'),
    },
    {
      value: false,
      label: t('NO'),
    },
  ],
  ipCustomName: [
    {
      value: 'IP_CUSTOM_NAME_01',
      label: t('IP_CUSTOM_NAME_01'),
    },
    {
      value: 'IP_CUSTOM_NAME_02',
      label: t('IP_CUSTOM_NAME_02'),
    },
    {
      value: 'IP_CUSTOM_NAME_03',
      label: t('IP_CUSTOM_NAME_03'),
    },
    {
      value: 'IP_CUSTOM_NAME_04',
      label: t('IP_CUSTOM_NAME_04'),
    },
    {
      value: 'IP_CUSTOM_NAME_05',
      label: t('IP_CUSTOM_NAME_05'),
    },
    {
      value: 'IP_CUSTOM_NAME_06',
      label: t('IP_CUSTOM_NAME_06'),
    },
  ],
  visitingHF: [
    {
      value: true,
      label: t('YES'),
    },
    {
      value: false,
      label: t('NO'),
    },
  ],
  reasonForNotVisitingHF: [
    {
      value: 'REASON_FOR_NOT_VISITING_HEALTH_FACILITY_CODE_01',
      label: t('REASON_FOR_NOT_VISITING_HEALTH_FACILITY_CODE_01'),
    },
    {
      value: 'REASON_FOR_NOT_VISITING_HEALTH_FACILITY_CODE_02',
      label: t('REASON_FOR_NOT_VISITING_HEALTH_FACILITY_CODE_02'),
    },
    {
      value: 'REASON_FOR_NOT_VISITING_HEALTH_FACILITY_CODE_03',
      label: t('REASON_FOR_NOT_VISITING_HEALTH_FACILITY_CODE_03'),
    },
  ],
  attendingSchool: [
    {
      value: true,
      label: t('YES'),
    },
    {
      value: false,
      label: t('NO'),
    },
  ],
  reasonForNotAttendingSchool: [
    {
      value: 'REASON_FOR_NOT_ATTENDING_SCHOOL_CODE_01',
      label: t('REASON_FOR_NOT_ATTENDING_SCHOOL_CODE_01'),
    },
    {
      value: 'REASON_FOR_NOT_ATTENDING_SCHOOL_CODE_02',
      label: t('REASON_FOR_NOT_ATTENDING_SCHOOL_CODE_02'),
    },
    {
      value: 'REASON_FOR_NOT_ATTENDING_SCHOOL_CODE_03',
      label: t('REASON_FOR_NOT_ATTENDING_SCHOOL_CODE_03'),
    },
    {
      value: 'REASON_FOR_NOT_ATTENDING_SCHOOL_CODE_04',
      label: t('REASON_FOR_NOT_ATTENDING_SCHOOL_CODE_04'),
    },
    {
      value: 'REASON_FOR_NOT_ATTENDING_SCHOOL_CODE_05',
      label: t('REASON_FOR_NOT_ATTENDING_SCHOOL_CODE_05'),
    },
    {
      value: 'REASON_FOR_NOT_ATTENDING_SCHOOL_CODE_06',
      label: t('REASON_FOR_NOT_ATTENDING_SCHOOL_CODE_06'),
    },
    {
      value: 'REASON_FOR_NOT_ATTENDING_SCHOOL_CODE_09',
      label: t('REASON_FOR_NOT_ATTENDING_SCHOOL_CODE_09'),
    },
    {
      value: 'REASON_FOR_NOT_ATTENDING_SCHOOL_CODE_10',
      label: t('REASON_FOR_NOT_ATTENDING_SCHOOL_CODE_10'),
    },
    {
      value: 'REASON_FOR_NOT_ATTENDING_SCHOOL_CODE_11',
      label: t('REASON_FOR_NOT_ATTENDING_SCHOOL_CODE_11'),
    },
    {
      value: 'REASON_FOR_NOT_ATTENDING_SCHOOL_CODE_19',
      label: t('REASON_FOR_NOT_ATTENDING_SCHOOL_CODE_19'),
    },
    {
      value: 'REASON_FOR_NOT_ATTENDING_SCHOOL_CODE_20',
      label: t('REASON_FOR_NOT_ATTENDING_SCHOOL_CODE_20'),
    },
    {
      value: 'REASON_FOR_NOT_ATTENDING_SCHOOL_CODE_22',
      label: t('REASON_FOR_NOT_ATTENDING_SCHOOL_CODE_22'),
    },
  ],
  education: [
    {
      value: 'EDUCATIONAL_ATTAINMENT_CODE_01',
      label: t('EDUCATIONAL_ATTAINMENT_CODE_01'),
    },
    {
      value: 'EDUCATIONAL_ATTAINMENT_CODE_02',
      label: t('EDUCATIONAL_ATTAINMENT_CODE_02'),
    },
    {
      value: 'EDUCATIONAL_ATTAINMENT_CODE_03',
      label: t('EDUCATIONAL_ATTAINMENT_CODE_03'),
    },
    {
      value: 'EDUCATIONAL_ATTAINMENT_CODE_04',
      label: t('EDUCATIONAL_ATTAINMENT_CODE_04'),
    },
    {
      value: 'EDUCATIONAL_ATTAINMENT_CODE_05',
      label: t('EDUCATIONAL_ATTAINMENT_CODE_05'),
    },
    {
      value: 'EDUCATIONAL_ATTAINMENT_CODE_06',
      label: t('EDUCATIONAL_ATTAINMENT_CODE_06'),
    },
    {
      value: 'EDUCATIONAL_ATTAINMENT_CODE_07',
      label: t('EDUCATIONAL_ATTAINMENT_CODE_07'),
    },
    {
      value: 'EDUCATIONAL_ATTAINMENT_CODE_08',
      label: t('EDUCATIONAL_ATTAINMENT_CODE_08'),
    },
    {
      value: 'EDUCATIONAL_ATTAINMENT_CODE_09',
      label: t('EDUCATIONAL_ATTAINMENT_CODE_09'),
    },
    {
      value: 'EDUCATIONAL_ATTAINMENT_CODE_10',
      label: t('EDUCATIONAL_ATTAINMENT_CODE_10'),
    },
    {
      value: 'EDUCATIONAL_ATTAINMENT_CODE_11',
      label: t('EDUCATIONAL_ATTAINMENT_CODE_11'),
    },
    {
      value: 'EDUCATIONAL_ATTAINMENT_CODE_12',
      label: t('EDUCATIONAL_ATTAINMENT_CODE_12'),
    },
    {
      value: 'EDUCATIONAL_ATTAINMENT_CODE_18',
      label: t('EDUCATIONAL_ATTAINMENT_CODE_18'),
    },
    {
      value: 'EDUCATIONAL_ATTAINMENT_CODE_19',
      label: t('EDUCATIONAL_ATTAINMENT_CODE_19'),
    },
    {
      value: 'EDUCATIONAL_ATTAINMENT_CODE_29',
      label: t('EDUCATIONAL_ATTAINMENT_CODE_29'),
    },
    {
      value: 'EDUCATIONAL_ATTAINMENT_CODE_51',
      label: t('EDUCATIONAL_ATTAINMENT_CODE_51'),
    },
    {
      value: 'EDUCATIONAL_ATTAINMENT_CODE_52',
      label: t('EDUCATIONAL_ATTAINMENT_CODE_52'),
    },
    {
      value: 'EDUCATIONAL_ATTAINMENT_CODE_53',
      label: t('EDUCATIONAL_ATTAINMENT_CODE_53'),
    },
  ],
}

function populate(payload: typeof fields.value) {
  fields.value = { ...payload }
}

function submit() {
  submitted.value = true
  return validate()
}

function validate() {
  calculateAge()
  const result = validateHHMember(fields.value)
  if (result.errors) {
    errors.value = { ...result.errors }
    $emit('onValidate', false)
    return
  }
  $emit('onValidate', true)
  errors.value = {}
  return result.payload
}

function calculateAge() {
  if (!fields.value.birthdate) return 0
  const date = parse(fields.value.birthdate, 'yyyy-MM-dd', new Date())
  fields.value.age = differenceInYears(new Date(), date)
}

function isFalse(field: string | number | boolean) {
  return typeof field === 'boolean' && !field
}
</script>

<style scoped>
form > *:not(:last-child) {
  @apply mb-4;
}
</style>
