<template>
  <div>
    <FormField
      :type="'gmap-autocomplete'"
      v-model="fields.address"
      :label="t('COMPLETE_ADDRESS')"
      :placeholder="t('SEARCH_ADDRESS')"
      :error="errors.address"
      @blur="validate"
      @place-changed="setMapPlace"
      :submitted="submitted"
    />
    <GMapMap :center="fields.coordinates" :zoom="15" class="mt-4 h-96 w-full">
      <GMapMarker
        :position="fields.coordinates"
        :draggable="true"
        @dragend="onMarkerDrag"
      />
    </GMapMap>
  </div>
</template>

<script setup lang="ts">
import { ref, onMounted } from 'vue'
import { useI18n } from 'vue-i18n'
import { validateAddress } from '@/utils/indigent-record-validation'
import FormField from '@/components/ui/FormField.vue'
import { type FieldErrors } from '@/types/components'

defineExpose({ populate, submit })
const { t } = useI18n()
const $emit = defineEmits(['onValidate'])
const props = defineProps<{ initial?: { lat: number; lng: number } }>()
const errors = ref<FieldErrors<typeof fields.value>>({})
const submitted = ref(false)
const fields = ref({
  address: '',
  // default coordinates: Binmaley
  coordinates: { lat: 15.9988508, lng: 120.2858846 },
})

function setMapPlace(event: any) {
  fields.value.address = event.formatted_address
  fields.value.coordinates.lat = event.geometry.location.lat()
  fields.value.coordinates.lng = event.geometry.location.lng()
  validate()
}

async function onMarkerDrag(event: any) {
  const geocoder = new google.maps.Geocoder()
  const { results } = await geocoder.geocode({
    location: {
      lat: event.latLng.lat() as number,
      lng: event.latLng.lng() as number,
    },
  })
  if (results.length) {
    fields.value.address = results[0].formatted_address
    fields.value.coordinates.lat = results[0].geometry.location.lat()
    fields.value.coordinates.lng = results[0].geometry.location.lng()
  }
  validate()
}

function populate(payload: typeof fields.value) {
  fields.value = { ...payload }
}

function submit() {
  submitted.value = true
  return validate()
}

function validate() {
  const result = validateAddress(fields.value)
  if (result.errors) {
    errors.value = { ...result.errors }
    $emit('onValidate', false)
    return
  }
  $emit('onValidate', true)
  errors.value = {}
  return result.payload
}

onMounted(() => {
  if (props.initial) {
    fields.value.coordinates = props.initial
  }
})
</script>
