<script setup lang="ts">
import { onMounted } from 'vue'

onMounted(() => {
  const vh = window.innerHeight * 0.01
  document.documentElement.style.setProperty('--vh', `${vh}px`)
  window.addEventListener('resize', () => {
    const vh = window.innerHeight * 0.01
    document.documentElement.style.setProperty('--vh', `${vh}px`)
  })
})
</script>

<template>
  <div class="full-height-container">
    <slot></slot>
  </div>
</template>

<style scoped>
.full-height-container {
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  min-height: -webkit-fill-available;
}
</style>
