<template>
  <slot name="navigation"></slot>
  <div class="h-72 w-full bg-gray-950 text-white">
    <div class="container py-10">
      <img src="@/assets/heart-logo.png" class="h-24 w-24" />
      <h1 class="text-xl font-bold">
        Binmaley Indigent Record Management<br />and Tracking System
      </h1>
      <p class="text-sm">Version 0.0.1</p>
    </div>
  </div>
</template>

<script setup lang="ts"></script>

<style scoped></style>
