<template>
  <NavBar title="Barangays" no-title />
  <div class="tab-group container min-h-screen">
    <div class="tab-list">
      <div
        class="tab-item"
        v-for="(barangay, index) in barangayStore.barangays"
        :key="index"
        :class="{ active: barangay._id === activeBarangay?._id }"
        @click="select(barangay)"
      >
        {{ barangay.name }}
      </div>
      <div
        class="tab-item flex items-center bg-secondary text-white"
        :class="{ active: !activeBarangay }"
        @click="select()"
      >
        {{ t('CREATE_NEW_RECORD') }}
        <PlusIcon class="ml-2 h-4 w-4" />
      </div>
    </div>
    <div class="tab-panels">
      <div class="tab-panel" v-if="activeBarangay">
        <h1 class="text-2xl font-medium">
          {{ t('BARANGAY') }} {{ activeBarangay?.name }}
        </h1>
        <div class="mt-2 flex items-center bg-secondary p-2 px-4 text-white">
          <span class="text-sm text-gray-200"
            >{{ t('ADMINISTRATOR') }} {{ t('USERNAME') }}:
            <span class="font-medium text-white">{{
              activeBarangay?.administrator?.username
            }}</span></span
          >
          <button
            class="btn btn-outline ml-auto"
            @click="resetModal?.open"
            type="button"
          >
            {{ t('RESET_PASSWORD') }}
          </button>
        </div>
        <GMapMap
          v-if="activeBarangay?.coordinates"
          :center="activeBarangay.coordinates"
          :zoom="15"
          class="mt-4 h-96 w-full"
        >
        </GMapMap>
        <h2 class="mt-4 text-lg">{{ t('STATUSES_REPORT') }}</h2>
        <IndigentStatuses ref="indigentBarChart" />
        <button
          class="btn btn-primary float-right mt-4 flex place-content-between items-center"
          @click="
            $router.push({
              name: 'barangay-dashboard',
              params: { id: activeBarangay?._id },
            })
          "
        >
          {{ t('VIEW_ALL_RECORDS') }}
          <ArrowRightIcon class="ml-2 h-4 w-4" />
        </button>
      </div>
      <div class="tab-panel" v-else>
        <InformationForm
          ref="informationForm"
          @record-created="handleNewRecord"
        />
        <button
          class="btn btn-primary"
          type="button"
          @click="informationForm?.submit"
        >
          {{ t('CREATE_RECORD') }}
        </button>
      </div>
    </div>
  </div>
  <PageFooter />
  <modal ref="modalRef">
    <template v-slot:content>
      <div class="p-4">
        <InformationForm
          ref="informationForm"
          @record-created="barangayStore.fetch(), modalRef?.close()"
        />
      </div>
    </template>
    <template v-slot:footer>
      <div class="grid grid-cols-2">
        <button
          class="btn btn-secondary w-full text-lg"
          @click="modalRef?.close(), informationForm?.reset()"
          :disabled="barangayStore.loading"
        >
          {{ t('CANCEL') }}
        </button>
        <button
          class="btn btn-primary w-full text-lg"
          type="button"
          @click="informationForm?.submit"
          :disabled="barangayStore.loading"
        >
          {{ t('SUBMIT') }}
        </button>
      </div>
    </template>
  </modal>
  <modal ref="resetModal">
    <template v-slot:content>
      <div class="p-4">
        <h1 class="text-xl font-medium">{{ t('CHANGE_PASSWORD') }}</h1>
        <FormField
          v-if="activeBarangay"
          type="text"
          :label="`${t('ADMINISTRATOR')} ${t('PASSWORD')}`"
          :error="passwordError"
          v-model="activeBarangayPassword"
          class="mt-2"
        />
      </div>
    </template>
    <template v-slot:footer>
      <div class="grid grid-cols-2">
        <button
          class="btn btn-secondary"
          type="button"
          @click="resetModal?.close"
        >
          {{ t('CANCEL') }}
        </button>
        <button class="btn btn-primary" type="button" @click="changePassword">
          {{ t('CHANGE_PASSWORD') }}
        </button>
      </div>
    </template>
  </modal>
</template>

<script lang="ts" setup>
import { ref, onMounted } from 'vue'
import { useI18n } from 'vue-i18n'
import NavBar from '@/components/layout/NavBar.vue'
import { ArrowRightIcon, PlusIcon } from '@heroicons/vue/24/solid'
import useBarangayStore, { type Barangay } from '@/stores/barangay'
import Modal, { type CustomModal } from '@/components/ui/Modal.vue'
import InformationForm from '@/components/barangays/InformationForm.vue'
import PageFooter from '@/components/layout/PageFooter.vue'
import IndigentStatuses from '@/components/barangays/IndigentStatuses.vue'
import { useRouter } from 'vue-router'
import FormField from '@/components/ui/FormField.vue'
import useUserStore from '@/stores/user'

const $router = useRouter()
const { t } = useI18n()
const barangayStore = useBarangayStore()
const userStore = useUserStore()
const modalRef = ref<CustomModal | null>()
const resetModal = ref<CustomModal | null>()
const informationForm = ref<{ submit: () => void; reset: () => void }>()
const indigentBarChart = ref<{ load: (barangayId: string) => void }>()
const activeBarangay = ref<Barangay>()
const passwordError = ref<string>()
const activeBarangayPassword = ref('')
onMounted(async () => {
  await barangayStore.fetch()
  select(barangayStore.barangays[0])
})

function select(barangay?: Barangay) {
  activeBarangay.value = barangay
  setTimeout(() => {
    if (barangay) indigentBarChart.value?.load(barangay._id)
  })
}

async function handleNewRecord(barangay: Barangay) {
  await barangayStore.fetch()
  select(barangay)
}

function changePassword() {
  passwordError.value = !activeBarangayPassword.value ? 'FIELD_IS_REQUIRED' : ''
  if (passwordError.value) return
  userStore.update({
    _id: activeBarangay?.value?.administrator?._id,
    password: activeBarangayPassword.value,
  })
  resetModal?.value?.close()
}
</script>
