<template>
  <NavBar no-title />
  <div class="container min-h-screen py-4">
    <CitizensTable
      v-if="barangay"
      :barangay="barangay"
      @item-clicked="showFullInfo"
      @open-form="
        $router.push({
          name: 'indigent-registration',
          params: { id: barangay?._id },
        })
      "
    />
  </div>
  <modal ref="modalRef">
    <template v-slot:content>
      <div class="p-4">
        <button
          class="btn btn-outline mb-4 ml-auto"
          type="button"
          @click="printView?.print"
        >
          <PrinterIcon class="h-5 w-5" />
        </button>
        <IndigentRecord v-if="citizen" :citizen="citizen" />
        <IndigentPrintView
          ref="printView"
          :record="citizen"
          v-if="citizen"
          v-show="false"
        />
      </div>
    </template>
    <template v-slot:footer>
      <div class="grid grid-cols-2">
        <button
          class="btn btn-secondary w-full text-lg"
          @click="modalRef?.close"
        >
          {{ t('DISMISS') }}
        </button>
        <button
          class="btn btn-primary w-full text-lg"
          type="button"
          @click="modify"
        >
          {{ t('VIEW_FULL_DETAILS') }}
        </button>
      </div>
    </template>
  </modal>
  <PageFooter />
</template>

<script setup lang="ts">
import { onMounted, ref } from 'vue'
import { useRoute, useRouter } from 'vue-router'
import { useI18n } from 'vue-i18n'
import NavBar from '@/components/layout/NavBar.vue'
import PageFooter from '@/components/layout/PageFooter.vue'
import IndigentRecord from '@/components/citizens/IndigentRecord.vue'
import Modal, { type CustomModal } from '@/components/ui/Modal.vue'
import CitizensTable from '@/components/citizens/CitizensTable.vue'
import IndigentPrintView from '@/components/citizens/IndigentPrintView.vue'
import { PrinterIcon } from '@heroicons/vue/24/solid'
import useBarangayStore, { type Barangay } from '@/stores/barangay'
import useCitizenStore from '@/stores/citizen'
import type { Citizen } from '@/stores/citizen'

const { t } = useI18n()
const $route = useRoute()
const $router = useRouter()
const barangayStore = useBarangayStore()
const citizenStore = useCitizenStore()
const barangay = ref<Barangay | null>(null)
const modalRef = ref<CustomModal | null>()
const citizen = ref<Citizen | null>(null)
const printView = ref<{ print: () => void }>()

function showFullInfo(payload: Citizen) {
  citizen.value = payload
  modalRef.value?.open()
}

function modify() {
  citizenStore.selectedCitizen = citizen.value
  $router.push({
    name: 'indigent-registration',
    params: { id: barangay.value?._id },
  })
}

onMounted(async () => {
  barangay.value = (await barangayStore.fetch(
    $route.params.id as string
  )) as Barangay
})
</script>
