<template>
  <NavBar no-title />
  <div class="container">
    <h1 class="mb-4 text-2xl font-bold">{{ t('COMMUNITY_ASSEMBLY_FORM') }}</h1>
  </div>
  <div class="tab-group container min-h-screen">
    <div class="tab-list">
      <div
        class="tab-item"
        :class="{
          active: step.active,
          valid: step.valid,
          invalid: !step.valid,
          visited: step.visited,
          disabled: !step.enabled,
        }"
        v-show="step.enabled"
        v-for="(step, index) in steps"
        :key="index"
        @click="setActive(step.id)"
      >
        <div :class="{ 'font-bold': step.active }">Step {{ index + 1 }}</div>
        <div>{{ t(step.stepLabel) }}</div>
      </div>
    </div>
    <div class="tab-panels">
      <h3 class="mb-8 text-xl font-medium" v-if="active">
        {{ t(active.title) }}
      </h3>
      <!-- step 1 - INFORMATION -->
      <HouseholdInformation
        class="tab-panel max-w-md"
        ref="hhInformationForm"
        @on-validate="active && (active.valid = $event)"
        v-show="active?.id === StepIds.INFORMATION"
      />
      <!-- step 2 - ADDRESS -->
      <MapAddress
        ref="addressForm"
        class="tab-panel"
        @on-validate="active && (active.valid = $event)"
        v-show="active?.id === StepIds.ADDRESS"
      />
      <!-- step 3 - VALIDATION -->
      <HouseholdValidation
        ref="hhValidation"
        class="tab-panel"
        @on-validate="active && (active.valid = $event)"
        @on-duplicate="toggleSteps"
        v-show="active?.id === StepIds.VALIDATION"
      />
      <!-- step 4 - HOUSEHOLD MEMBERS -->
      <div class="tab-panel" v-show="active?.id === StepIds.MEMBERS">
        <div class="accordion">
          <div
            class="accordion-item"
            v-for="(item, index) in households"
            :key="index"
            :class="{
              active: item.collapsed,
              invalid: typeof item.valid !== 'undefined' && !item.valid,
            }"
          >
            <div
              class="accordion-item-label"
              :tabindex="index"
              @click="item.collapsed = !item.collapsed"
            >
              {{ `${t('HOUSEHOLD_MEMBER')} ${index + 1}` }}
              <ChevronDownIcon class="h-4 w-4" v-show="!item.collapsed" />
              <ChevronUpIcon class="h-4 w-4" v-show="item.collapsed" />
            </div>
            <div class="accordion-item-panel" v-show="item.collapsed">
              <HouseholdMember
                ref="hhMembers"
                class="max-w-md"
                @on-validate="item.valid = $event"
                @remove-member="removeMember(index, item._id)"
              />
            </div>
          </div>
        </div>
        <div class="mt-2 flex border-t-1 pt-4">
          <button
            class="btn btn-primary ml-auto"
            type="button"
            @click="addHHMember"
          >
            {{ t('ADD_MEMBER') }}
          </button>
        </div>
      </div>
      <!-- step 5 - FINAL NOTE AND SIGNATURES -->
      <FinalNoteAndSignatures
        ref="finalNoteAndSignatures"
        class="tab-panel"
        @on-validate="active && (active.valid = $event)"
        v-show="active?.id === StepIds.FINAL_NOTE_AND_SIGNATURES"
      />
    </div>
  </div>
  <page-footer>
    <template v-slot:navigation>
      <div class="w-full bg-secondary">
        <div class="container flex h-20">
          <button
            type="button"
            class="flex w-72 place-content-start items-center gap-4 pl-4 text-base font-medium text-white hover:bg-gray-700"
            @click="redirect"
            :disabled="citizenStore.loading"
          >
            <XMarkIcon class="h-6 w-6" />
            {{ t('DISCARD') }}
          </button>
          <button
            type="button"
            class="flex w-72 place-content-start items-center gap-4 pl-4 text-base font-medium text-white hover:bg-primary disabled:hover:bg-transparent"
            @click="submitForm"
            :disabled="citizenStore.loading"
          >
            {{
              t(
                citizenStore.selectedCitizen ? 'UPDATE_RECORD' : 'CREATE_RECORD'
              )
            }}
            <ArrowDownTrayIcon class="h-6 w-6" />
          </button>
          <button
            type="button"
            class="flex w-72 place-content-start items-center gap-4 pl-4 text-base font-medium text-white hover:bg-danger"
            :disabled="citizenStore.loading"
            v-if="citizenStore.selectedCitizen"
            @click="confirmDialog?.open"
          >
            {{ t('DELETE_RECORD') }}
            <TrashIcon class="h-6 w-6" />
          </button>
          <button
            type="button"
            class="flex w-72 place-content-start items-center gap-4 pl-4 text-base font-medium text-white hover:bg-danger"
            :disabled="citizenStore.loading"
            v-if="citizenStore.selectedCitizen && revocable"
            @click="
              citizenStore.update({
                _id: citizenStore.selectedCitizen._id,
                revoked: true,
              }),
                redirect()
            "
          >
            {{ t('REVOKE') }}
            <XMarkIcon class="h-6 w-6" />
          </button>
        </div>
      </div>
    </template>
  </page-footer>
  <modal ref="confirmDialog">
    <template v-slot:content>
      <div class="p-4">
        <h1 class="text-2xl font-bold">{{ t('CONFIRM_DELETION') }}</h1>
        <p class="mt-2">{{ t('CONFIRM_DELETION_MESSAGE') }}</p>
      </div>
    </template>
    <template v-slot:footer>
      <div class="grid grid-cols-2">
        <button
          type="button"
          class="btn btn-secondary"
          @click="confirmDialog?.close"
        >
          {{ t('CANCEL') }}
        </button>
        <button type="button" class="btn btn-danger" @click="proceedDeletion">
          {{ t('DELETE_RECORD') }}
        </button>
      </div>
    </template>
  </modal>
</template>

<script setup lang="ts">
import { computed, ref, onMounted, onBeforeUnmount } from 'vue'
import {
  ArrowDownTrayIcon,
  XMarkIcon,
  TrashIcon,
} from '@heroicons/vue/24/solid'
import NavBar from '@/components/layout/NavBar.vue'
import PageFooter from '@/components/layout/PageFooter.vue'
import { type NewCitizen } from '@/stores/citizen'
import { useI18n } from 'vue-i18n'
import { useRoute, useRouter } from 'vue-router'
import useBarangayStore, { type Barangay } from '@/stores/barangay'
import useCitizenStore, { StepIds } from '@/stores/citizen'
import useHouseholdStore from '@/stores/household'
import type { Household } from '@/stores/household'
import HouseholdInformation from '@/components/citizens/forms/HouseholdInformation.vue'
import MapAddress from '@/components/citizens/forms/MapAddress.vue'
import HouseholdValidation from '@/components/citizens/forms/HouseholdValidation.vue'
import { ChevronUpIcon, ChevronDownIcon } from '@heroicons/vue/24/solid'
import HouseholdMember from '@/components/citizens/forms/HouseholdMember.vue'
import FinalNoteAndSignatures from '@/components/citizens/forms/FinalNoteAndSignatures.vue'
import Modal, { type CustomModal } from '@/components/ui/Modal.vue'
import { format } from 'date-fns'

const { t } = useI18n()
const $route = useRoute()
const $router = useRouter()
const barangayStore = useBarangayStore()
const citizenStore = useCitizenStore()
const householdStore = useHouseholdStore()
const barangay = ref<Barangay | null>(null)
const confirmDialog = ref<CustomModal>()
const hhInformationForm = ref<{
  populate: (payload: Partial<NewCitizen>) => void
  submit: () => Partial<NewCitizen> | undefined
}>()
const addressForm = ref<{
  populate: (payload: Partial<NewCitizen>) => void
  submit: () => { address: string } | undefined
}>()
const hhValidation = ref<{
  populate: (payload: Partial<NewCitizen>) => void
  submit: () => { address: string } | undefined
}>()
const hhMembers = ref<
  Array<{
    populate: (payload: Partial<Household>) => void
    submit: () => Household
  }>
>()
const finalNoteAndSignatures = ref<{
  populate: (payload: Partial<NewCitizen>) => void
  submit: () => { address: string } | undefined
}>()
const active = computed(() => {
  for (const step of steps.value) {
    if (step.active) return step
  }
  return undefined
})
const revocable = ref(false)
const allowedToSubmitForm = computed(() => {
  const enabledSteps = steps.value.filter(({ enabled }) => enabled)
  return (
    steps.value.filter(({ valid, enabled }) => enabled && valid).length ===
    enabledSteps.length
  )
})

const payload = ref<NewCitizen>({
  firstName: '',
  middleName: '',
  lastName: '',
  birthdate: '',
  contactNumber: '',
  address: '',
  hhId: '',
  hhStatus: '',
  recommendation: '',
  dateOfEnumeration: '',
  coordinates: { lat: 0, lng: 0 },
  remarks: '',
  barangayId: barangay.value?._id,
  hhMemberIds: [],
  validatorName: '',
  validatorSignature: '',
  immediateSupervisorName: '',
  immediateSupervisorSignature: '',
  immediateSupervisorPosition: '',
  beneficiaryName: '',
  beneficiarySignature: '',
})

const households = ref<
  Array<
    Omit<Household, '_id'> & {
      _id?: string
      collapsed?: boolean
      valid?: boolean
    }
  >
>([])

const steps = ref([
  {
    id: StepIds.INFORMATION,
    title: 'HOUSEHOLD_INFORMATION',
    stepLabel: 'INFORMATION',
    active: true,
    valid: false,
    visited: false,
    enabled: true,
  },
  {
    id: StepIds.ADDRESS,
    title: 'ADDRESS',
    stepLabel: 'ADDRESS',
    active: false,
    valid: false,
    visited: false,
    enabled: true,
  },
  {
    id: StepIds.VALIDATION,
    title: 'HOUSEHOLD_VALIDATION',
    stepLabel: 'HOUSEHOLD_VALIDATION',
    active: false,
    valid: false,
    visited: false,
    enabled: true,
  },
  {
    id: StepIds.MEMBERS,
    title: 'HOUSEHOLD_MEMBERS',
    stepLabel: 'HOUSEHOLD_MEMBERS',
    active: false,
    valid: false,
    visited: false,
    enabled: true,
  },
  {
    id: StepIds.FINAL_NOTE_AND_SIGNATURES,
    title: 'FINAL_NOTE_AND_SIGNATURES',
    stepLabel: 'FINAL_NOTE_AND_SIGNATURES',
    active: false,
    valid: false,
    visited: false,
    enabled: true,
  },
])

function setActive(stepId: StepIds) {
  let fields = undefined as Partial<NewCitizen> | undefined
  let hhMembersPayload = [] as Array<Household>
  let proceed = false
  const currentStep = steps.value.find(({ active }) => active)
  if (!currentStep) return

  currentStep.visited = true

  switch (currentStep.id) {
    case StepIds.INFORMATION:
      fields = hhInformationForm.value?.submit()
      proceed = Boolean(fields)
      if (proceed) payload.value = { ...payload.value, ...fields }
      break

    case StepIds.ADDRESS:
      fields = addressForm.value?.submit()
      proceed = Boolean(fields)
      if (proceed) payload.value = { ...payload.value, ...fields }
      break

    case StepIds.VALIDATION:
      fields = hhValidation.value?.submit()
      proceed = Boolean(fields)
      if (proceed) payload.value = { ...payload.value, ...fields }
      break

    case StepIds.MEMBERS:
      hhMembers.value?.forEach((item) => {
        const payload = item.submit()
        if (payload) {
          hhMembersPayload.push(payload)
        }
      })
      proceed =
        Boolean(hhMembersPayload.length) &&
        hhMembersPayload.length === (hhMembers.value?.length || 0)
      if (proceed) households.value = [...hhMembersPayload]
      break

    case StepIds.FINAL_NOTE_AND_SIGNATURES:
      fields = finalNoteAndSignatures.value?.submit()
      proceed = Boolean(fields)
      if (proceed) payload.value = { ...payload.value, ...fields }
      break
  }
  if (proceed) {
    steps.value = steps.value.map((step) => ({
      ...step,
      valid: step.id === currentStep.id ? true : step.valid,
      active: step.enabled && step.id === stepId,
      enabled: isFormEnabled(step.id),
    }))
  } else {
    currentStep.valid = false
  }
}

function isFormEnabled(stepId: StepIds) {
  switch (stepId) {
    case StepIds.MEMBERS:
    case StepIds.FINAL_NOTE_AND_SIGNATURES:
      return payload.value.recommendation !== 'RECOMMENDATION_CHOICE_02'

    default:
      return true
  }
}

function toggleSteps(flag: boolean) {
  steps.value = steps.value.map((step) => ({
    ...step,
    enabled:
      !flag ||
      ![StepIds.MEMBERS, StepIds.FINAL_NOTE_AND_SIGNATURES].includes(step.id),
  }))
}

function redirect() {
  $router.push({
    name: 'barangay-dashboard',
    params: { id: barangay.value?._id },
  })
}

function revalidate() {
  // revalidate form
  steps.value.forEach(({ id, enabled }) => enabled && setActive(id))
}

async function submitForm() {
  revalidate()
  if (!allowedToSubmitForm.value) return

  const newMembers = households.value.filter(({ _id }) => !_id)
  if (newMembers.length) {
    payload.value.hhMemberIds =
      (await householdStore.save(newMembers))?.map(({ _id }) => _id) || []
  }

  const existingMembers = households.value.filter(({ _id }) => _id)
  if (existingMembers.length) {
    const existingIds = (
      await householdStore.batchUpdate(existingMembers)
    )?.map(({ _id }) => _id)
    payload.value.hhMemberIds = [
      ...payload.value.hhMemberIds,
      ...(existingIds || []),
    ]
  }

  if (householdStore.error) {
    alert('Something went wrong')
    return
  }

  if (citizenStore.selectedCitizen) {
    await citizenStore.update(payload.value)
  } else {
    await citizenStore.register(payload.value)
  }
  if (citizenStore.error) return
  citizenStore.selectedCitizen = null
  redirect()
}

function addHHMember() {
  const index = households.value.length - 1
  if (index < 0) {
    // @ts-ignore
    households.value.push({ collapsed: true } as Household)
    return
  }
  const form = hhMembers.value?.find((a, i) => i === index)
  const fields = form?.submit()
  // @ts-ignore
  if (fields) households.value.push({ collapsed: true } as Household)
}

async function removeMember(index: number, id?: string) {
  if (id) await householdStore.remove(id)
  households.value = households.value.filter((member, i) => i !== index)
}

onMounted(async () => {
  barangay.value = (await barangayStore.fetch(
    $route.params.id as string
  )) as Barangay
  payload.value.barangayId = barangay.value._id

  if (citizenStore.selectedCitizen) {
    const {
      _id,
      barangay: currentBarangay,
      firstName,
      middleName,
      lastName,
      extensionName,
      birthdate,
      contactNumber,
      address,
      coordinates,
      hhId,
      hhStatus,
      recommendation,
      recommendationCategory,
      dateOfEnumeration,
      remarks,
      householdMembers,
      validatorName,
      validatorSignature,
      immediateSupervisorName,
      immediateSupervisorSignature,
      immediateSupervisorPosition,
      beneficiaryName,
      beneficiarySignature,
      previousAddresses,
    } = citizenStore.selectedCitizen
    payload.value._id = _id
    payload.value.barangayId = (currentBarangay as Barangay)._id

    steps.value.forEach((step) => {
      switch (step.id) {
        case StepIds.INFORMATION:
          hhInformationForm.value?.populate({
            hhId,
            hhStatus,
            firstName,
            middleName,
            lastName,
            extensionName,
            birthdate: format(new Date(birthdate), 'yyyy-MM-dd'),
            contactNumber,
            dateOfEnumeration: format(
              new Date(dateOfEnumeration),
              'yyyy-MM-dd'
            ),
          })
          break

        case StepIds.ADDRESS:
          addressForm.value?.populate({
            address,
            coordinates,
          })
          break

        case StepIds.VALIDATION:
          hhValidation.value?.populate({
            recommendation,
            recommendationCategory,
            remarks,
          })
          break

        case StepIds.MEMBERS:
          householdMembers?.forEach((member, index) => {
            households.value.push(member)
            setTimeout(() => {
              // @ts-ignore
              delete member.__v
              // @ts-ignore
              delete member.createdAt
              // @ts-ignore
              delete member.updatedAt
              member.birthdate = format(
                new Date(member.birthdate),
                'yyyy-MM-dd'
              )
              hhMembers.value![index].populate(member)
            })
          })
          break

        case StepIds.FINAL_NOTE_AND_SIGNATURES:
          finalNoteAndSignatures.value?.populate({
            validatorSignature,
            validatorName,
            immediateSupervisorName,
            immediateSupervisorSignature,
            immediateSupervisorPosition,
            beneficiaryName,
            beneficiarySignature,
          })
          break
      }
    })
    revocable.value = Boolean(
      previousAddresses && JSON.parse(previousAddresses).length
    )
    setTimeout(revalidate, 500)
    setTimeout(() => {
      steps.value = [
        ...steps.value.map(
          (step) => ({
            ...step,
            active: step.id === StepIds.INFORMATION,
          }),
          1000
        ),
      ]
    }, 1000)
  }
})

async function proceedDeletion() {
  await citizenStore.deleteRecord()
  confirmDialog.value?.close()
  redirect()
}

onBeforeUnmount(() => {
  citizenStore.selectedCitizen = null
})
</script>

<style scoped lang="scss"></style>
