<script setup lang="ts">
import FullHeightContainer from '@/components/layout/FullHeightContainer.vue'
import PageFooter from '@/components/layout/PageFooter.vue'
import { ArrowRightIcon } from '@heroicons/vue/24/solid'
import { ref } from 'vue'
import useAuthStore from '@/stores/auth'
import { useRoute, useRouter } from 'vue-router'
import FormField from '@/components/ui/FormField.vue'
import { useI18n } from 'vue-i18n'

const router = useRouter()
const route = useRoute()
const { t } = useI18n()
const authStore = useAuthStore()
const username = ref('')
const password = ref('')

async function login() {
  await authStore.authenticate({
    username: username.value,
    password: password.value,
  })
  if (!authStore.error) router.push((route.query.redirect as string) || '/')
}
</script>

<template>
  <full-height-container
    class="container grid grid-cols-6 place-content-center p-4"
  >
    <div class="col-span-3 flex items-center justify-center">
      <img src="../assets/logo.png" />
    </div>
    <div class="col-span-2">
      <h1 class="text-2xl font-medium">
        BINMALEY INDIGENT RECORD<br />
        AND MONITORING SYSTEM
      </h1>
      <h4 class="mt-4 font-medium">Log In</h4>
      <form @submit.prevent="login" class="grid grid-flow-row gap-5">
        <FormField
          type="text"
          :label="t('USERNAME')"
          v-model="username"
          :disabled="authStore.loading"
        />
        <FormField
          type="password"
          :label="t('PASSWORD')"
          v-model="password"
          :disabled="authStore.loading"
        />
        <small v-if="authStore.error" class="mt-3 block text-red-500">
          {{ authStore.error }}
        </small>
        <button
          type="submit"
          class="btn btn-primary flex w-full place-content-between items-center"
          :disabled="authStore.loading"
        >
          Continue
          <ArrowRightIcon class="h-4 w-4" />
        </button>
      </form>
    </div>
  </full-height-container>
  <PageFooter />
</template>
