<template>
  <full-height-container>
    <NavBar />
    <div class="grid place-content-center justify-items-center">
      <h1>Not found</h1>
      <router-link to="/">
        <button class="btn btn-primary mt-2">Go back home</button>
      </router-link>
    </div>
  </full-height-container>
</template>

<script setup lang="ts">
import NavBar from '@/components/layout/NavBar.vue'
</script>

<style scoped></style>
