<template>
  <div id="print">
    <table class="mt-4 min-w-full bg-gray-100 text-left text-sm font-light">
      <thead class="border font-normal">
        <tr class="bg-gray-300 text-gray-700">
          <th scope="col" class="px-6 py-4">{{ t('LAST_NAME') }}</th>
          <th scope="col" class="px-6 py-4">{{ t('MIDDLE_NAME') }}</th>
          <th scope="col" class="px-6 py-4">{{ t('FIRST_NAME') }}</th>
          <th scope="col" class="px-6 py-4">{{ t('EXTENSION_NAME') }}</th>
          <th scope="col" class="px-6 py-4">{{ t('ADDRESS') }}</th>
          <th scope="col" class="flex cursor-pointer items-center px-6 py-4">
            {{ t('STATUS') }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="(item, index) in records"
          :key="index"
          class="border text-gray-700 transition duration-300 ease-in-out hover:cursor-pointer hover:bg-primary hover:text-white"
        >
          <td class="whitespace-nowrap px-6 py-4">
            {{ item.lastName }}
          </td>
          <td class="whitespace-nowrap px-6 py-4">
            {{ item.middleName }}
          </td>
          <td class="whitespace-nowrap px-6 py-4">
            {{ item.firstName }}
          </td>
          <td class="whitespace-nowrap px-6 py-4">
            {{ item.extensionName }}
          </td>
          <td class="whitespace-nowrap px-6 py-4">
            {{ item.address }}
          </td>
          <td class="whitespace-nowrap px-6 py-4">
            {{ t(item.revoked ? 'REVOKED' : item.hhStatus || 'N_A') }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script setup lang="ts">
import { useI18n } from 'vue-i18n'
import type { Citizen } from '@/stores/citizen'
const { t } = useI18n()

defineProps<{ records: Citizen[] }>()
defineExpose({ print })

function print() {
  const prtHtml = document.getElementById('print')?.innerHTML

  // Get all stylesheets HTML
  let stylesHtml = ''
  for (const node of [
    ...document.querySelectorAll('link[rel="stylesheet"], style'),
  ]) {
    stylesHtml += node.outerHTML
  }

  // Open the print window
  const WinPrint = window.open(
    '',
    '',
    'left=0,top=0,width=800,height=900,toolbar=0,scrollbars=0,status=0'
  )

  WinPrint?.document.write(`<!DOCTYPE html>
<html>
  <head>
    ${stylesHtml}
  </head>
  <body>
    ${prtHtml}
  </body>
</html>`)

  WinPrint?.document.close()
  WinPrint?.focus()
  WinPrint?.print()
}
</script>

<style scoped></style>
