<template>
  <table class="mt-4 min-w-full bg-gray-100 text-left text-sm font-light">
    <thead class="border font-normal">
      <tr>
        <th colspan="6">
          <div class="p-2">
            <h2 class="text-2xl font-normal">Barangay {{ barangay?.name }}</h2>
            <p class="font-normal">
              {{ t('TOTAL_RECORDS') }}: {{ citizenStore.citizens.length || 0 }}
            </p>
          </div>
          <div class="flex place-content-end">
            <button
              class="btn btn-outline border-none"
              type="button"
              @click="citizenPrintView?.print"
              v-if="citizenStore.citizens.length"
            >
              <PrinterIcon class="h-6 w-6" />
            </button>
            <button
              class="btn btn-outline border-none"
              type="button"
              @click="filterModal?.open"
            >
              <AdjustmentsHorizontalIcon class="h-6 w-6" />
            </button>
            <button
              class="btn btn-primary flex items-center border-none"
              type="button"
              @click="emit('openForm')"
            >
              {{ t('CREATE_NEW_RECORD') }}<PlusIcon class="ml-2 h-6 w-6" />
            </button>
          </div>
        </th>
      </tr>
      <tr class="bg-gray-300 text-gray-700">
        <th scope="col" class="px-6 py-4">{{ t('LAST_NAME') }}</th>
        <th scope="col" class="px-6 py-4">{{ t('MIDDLE_NAME') }}</th>
        <th scope="col" class="px-6 py-4">{{ t('FIRST_NAME') }}</th>
        <th scope="col" class="px-6 py-4">{{ t('EXTENSION_NAME') }}</th>
        <th scope="col" class="px-6 py-4">{{ t('ADDRESS') }}</th>
        <th
          scope="col"
          class="flex cursor-pointer items-center px-6 py-4"
          @click="setSort('revoked')"
        >
          {{ t('STATUS')
          }}<ChevronDownIcon
            class="ml-2 h-4 w-4"
            v-if="sort === 'revoked' && asc"
          />
          <ChevronUpIcon
            class="ml-2 h-4 w-4"
            v-if="sort === 'revoked' && !asc"
          />
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        v-for="(item, index) in citizenStore.citizens"
        :key="index"
        class="border text-gray-700 transition duration-300 ease-in-out hover:cursor-pointer hover:bg-primary hover:text-white"
        @click="emit('itemClicked', item)"
      >
        <td class="whitespace-nowrap px-6 py-4">
          {{ item.lastName }}
        </td>
        <td class="whitespace-nowrap px-6 py-4">
          {{ item.middleName }}
        </td>
        <td class="whitespace-nowrap px-6 py-4">
          {{ item.firstName }}
        </td>
        <td class="whitespace-nowrap px-6 py-4">
          {{ item.extensionName }}
        </td>
        <td class="whitespace-nowrap px-6 py-4">
          {{ item.address }}
        </td>
        <td class="whitespace-nowrap px-6 py-4">
          {{ t(item.revoked ? 'REVOKED' : item.hhStatus || 'N_A') }}
        </td>
      </tr>
    </tbody>
  </table>
  <CitizenPrintView
    ref="citizenPrintView"
    v-if="citizenStore.citizens.length"
    :records="citizenStore.citizens"
    v-show="false"
  />
  <MapModal ref="mapModal" />
  <modal ref="filterModal">
    <template v-slot:content>
      <div class="p-4">
        <h1 class="text-xl">{{ t('FILTER_RESULTS') }}</h1>
        <FormField
          class="mt-4"
          type="text"
          v-model="filters.keywords"
          :label="t('SEARCH')"
        />
        <FormField
          class="mt-4"
          type="select"
          v-model="filters.hhStatus"
          :options="hhStatuses"
          :label="t('HOUSEHOLD_STATUS')"
        />
        <FormField
          class="mt-4"
          type="toggle"
          v-model="filters.revoked"
          :label="t('SELECT_ONLY_REVOKED_RECORDS')"
        />
      </div>
    </template>
    <template v-slot:footer>
      <div class="grid grid-cols-2">
        <button
          class="btn btn-secondary"
          type="button"
          @click="filterModal?.close"
        >
          {{ t('CANCEL') }}
        </button>
        <button
          class="btn btn-primary"
          type="button"
          @click="applyFilters(), filterModal?.close()"
        >
          {{ t('APPLY_FILTERS') }}
        </button>
      </div>
    </template>
  </modal>
</template>

<script setup lang="ts">
import { onMounted, ref } from 'vue'
import {
  PlusIcon,
  ChevronUpIcon,
  ChevronDownIcon,
  PrinterIcon,
  AdjustmentsHorizontalIcon,
} from '@heroicons/vue/24/solid'
import MapModal from '@/components/ui/MapModal.vue'
import Modal, { type CustomModal } from '@/components/ui/Modal.vue'
import FormField from '@/components/ui/FormField.vue'
import CitizenPrintView from './CitizenPrintView.vue'
import useCitizenStore from '@/stores/citizen'
import type { Barangay } from '@/stores/barangay'
import type { Citizen } from '@/stores/citizen'
import { useI18n } from 'vue-i18n'

const citizenStore = useCitizenStore()
const { t } = useI18n()

const mapModal = ref<
  HTMLElement & { open: (coordinates: Citizen['coordinates']) => void }
>()
const props = defineProps<{ barangay: Barangay }>()
const emit = defineEmits(['openForm', 'itemClicked'])
const citizenPrintView = ref<{ print: () => void }>()
const filterModal = ref<CustomModal>()
const asc = ref(false)
const sort = ref('')

const filters = ref<{
  keywords?: string
  hhStatus?: string
  revoked?: boolean
}>({})
const hhStatuses = [
  {
    value: 'MEMBER_STATUS_CODE_01',
    label: t('MEMBER_STATUS_CODE_01'),
  },
  {
    value: 'MEMBER_STATUS_CODE_02',
    label: t('MEMBER_STATUS_CODE_02'),
  },
  {
    value: 'MEMBER_STATUS_CODE_03',
    label: t('MEMBER_STATUS_CODE_03'),
  },
  {
    value: 'MEMBER_STATUS_CODE_06',
    label: t('MEMBER_STATUS_CODE_06'),
  },
  {
    value: 'MEMBER_STATUS_CODE_07',
    label: t('MEMBER_STATUS_CODE_07'),
  },
]

function setSort(key: keyof Citizen) {
  sort.value = key
  asc.value = !asc.value
  citizenStore.citizens.sort(() => -1)
}

function applyFilters() {
  citizenStore.filtered({
    keywords: filters.value.keywords || undefined,
    hhStatus: filters.value.hhStatus || undefined,
    revoked: filters.value.revoked || undefined,
    barangay: props.barangay._id,
  })
}
onMounted(() => {
  citizenStore.fetch({ barangay: props.barangay._id })
})
</script>
