<template>
  <div id="print" v-if="record">
    <h4 class="font-medium">{{ t('HOUSEHOLD_INFORMATION_BOX') }}</h4>
    <div class="mt-2 grid grid-cols-2 gap-4 border-1 p-10">
      <dl class="grid grid-cols-2">
        <dt>{{ t('HOUSEHOLD_ID') }}</dt>
        <dd class="border-2 p-2">{{ record?.hhId }}</dd>
        <dt>{{ t('HOUSEHOLD_CONTACT_NUMBER') }}</dt>
        <dd class="mt-2 border-2 p-2">{{ record?.contactNumber }}</dd>
        <dt>{{ t('HOUSEHOLD_STATUS') }}</dt>
        <dd class="mt-2 border-2 p-2" v-if="record?.hhStatus">
          {{ t(record?.hhStatus) }}
        </dd>
        <dt>{{ t('DATE_OF_ENUMERATION') }}</dt>
        <dd class="mt-2 border-2 p-2" v-if="record?.dateOfEnumeration">
          {{ format(new Date(record.dateOfEnumeration), 'MM/dd/yyyy') }}
        </dd>
      </dl>
      <ul>
        <li class="border-2 p-2">
          <small>Region/Province/Municipality</small>
          <div>PANGASINAN</div>
        </li>
        <li class="mt-2 border-2 p-2">
          <small>{{ t('BARANGAY') }}</small>
          <div>{{ record.barangay.name }}</div>
        </li>
        <li class="mt-2 border-2 p-2">
          <small>House No/Street Name/Sitio/Purok</small>
          <div>{{ record.address }}</div>
        </li>
      </ul>
    </div>
    <h4 class="mt-4 font-medium">{{ t('HOUSEHOLD_VALIDATION') }}</h4>
    <div class="mt-2 grid grid-cols-2 gap-4 border-1 p-10">
      <dl class="grid grid-cols-2">
        <dt>{{ t('RECOMMENDATION') }}</dt>
        <dd class="border-2 p-2" v-if="record?.recommendation">
          {{ t(record.recommendation) }}
        </dd>
        <dt v-if="record?.recommendationCategory">
          {{ t('RECOMMENDATION_CATEGORY') }}
        </dt>
        <dd class="border-2 p-2" v-if="record.recommendationCategory">
          {{ t(record.recommendationCategory) }}
        </dd>
        <dt>
          {{ t('REMARKS') }}
        </dt>
        <dd class="border-2 p-2" v-if="record.remarks">
          {{ record.remarks }}
        </dd>
      </dl>
    </div>
    <template v-if="record.recommendation !== 'RECOMMENDATION_CHOICE_02'">
      <h4 class="mt-4 font-medium">
        {{ t('HOUSEHOLD_ROSTER_VALIDATION') }}
      </h4>
      <template v-for="(member, index) in record.householdMembers" :key="index">
        <h4 class="mt-4 font-medium">
          {{ t('HOUSEHOLD_MEMBER') }} {{ index + 1 }}
        </h4>
        <ul>
          <li class="border-2 p-2">
            <small>{{ t('MEMBER_TYPE') }}</small>
            <div>{{ t(member.memberType) }}</div>
          </li>
          <li class="border-2 p-2">
            <small>{{ t('HOUSEHOLD_STATUS') }}</small>
            <div>{{ t(member.memberStatus) }}</div>
          </li>
          <li class="mt-2 border-2 p-2">
            <div class="flex justify-between">
              <div>
                <small class="block">{{ t('FIRST_NAME') }}</small>
                <span>{{ member.firstName }}</span>
              </div>
              <div>
                <small class="block">{{ t('MIDDLE_NAME') }}</small>
                <span>{{ member.middleName }}</span>
              </div>
              <div>
                <small class="block">{{ t('LAST_NAME') }}</small>
                <span>{{ member.lastName }}</span>
              </div>
              <div>
                <small class="block">{{ t('EXTENSION_NAME') }}</small>
                <span>{{ member.extensionName }}</span>
              </div>
            </div>
          </li>
          <li class="mt-2 border-2 p-2">
            <small>{{ t('GENDER') }}</small>
            <div>{{ member.gender }}</div>
          </li>
          <li class="mt-2 border-2 p-2" v-if="member.gender === 'F'">
            <small>{{ t('DECLARED_PREGNANCY_STATUS') }}</small>
            <div>{{ t(member.declaredPregnancyStatus) }}</div>
          </li>
          <li class="mt-2 border-2 p-2" v-if="member.gender === 'F'">
            <small>{{ t('PREGNANCY_STATUS') }}</small>
            <div>{{ t(member.pregnancyStatus) }}</div>
          </li>
          <li
            class="mt-2 border-2 p-2"
            v-if="member.gender === 'F' && member.lmp"
          >
            <small>{{ t('LMP_LABEL') }}</small>
            <div>{{ format(new Date(member.lmp), 'mm/dd/yyyy') }}</div>
          </li>
          <li class="mt-2 border-2 p-2">
            <small>{{ t('PWD_LABEL') }}</small>
            <div>{{ t(member.pwd ? 'YES' : 'NO') }}</div>
          </li>
          <li class="mt-2 border-2 p-2">
            <small>{{ t('RELATIONSHIP_TO_HOUSEHOLD_HEAD') }}</small>
            <div>{{ t(member.relationshipToHH) }}</div>
          </li>
          <li class="mt-2 border-2 p-2">
            <small>{{ t('SOLO_PARENT_LABEL') }}</small>
            <div>{{ t(member.soloParent ? 'YES' : 'NO') }}</div>
          </li>
          <li class="mt-2 border-2 p-2">
            <small>{{ t('IP_MEMBER_LABEL') }}</small>
            <div>{{ t(member.ipMember ? 'YES' : 'NO') }}</div>
          </li>
          <li class="mt-2 border-2 p-2" v-if="member.ipCustomName">
            <small>{{ t('IP_GROUP_CUSTOM_NAME_LABEL') }}</small>
            <div>{{ t(member.ipCustomName) }}</div>
          </li>
          <li class="mt-2 border-2 p-2">
            <small>{{ t('MOTHERS_MAIDEN_NAME') }}</small>
            <div>{{ t(member.mothersMaidenName) }}</div>
          </li>
          <li class="mt-2 border-2 p-2">
            <small>{{ t('HH_GRANTEE_LABEL') }}</small>
            <div>{{ t(member.hhGrantee ? 'YES' : 'NO') }}</div>
          </li>
          <li class="mt-2 border-2 p-2" v-if="member.visitingHF">
            <small>{{ t('VISITING_HF') }}</small>
            <div>{{ t(member.visitingHF ? 'YES' : 'NO') }}</div>
          </li>
          <li class="mt-2 border-2 p-2" v-if="member.reasonForNotVisitingHF">
            <small>{{ t('REASON_FOR_NOT_VISITING_HEALTH_FACILITY') }}</small>
            <div>{{ t(member.reasonForNotVisitingHF) }}</div>
          </li>
          <li class="mt-2 border-2 p-2" v-if="member.hfName">
            <small>{{ t('HF_NAME') }}</small>
            <div>{{ t(member.hfName) }}</div>
          </li>
          <li class="mt-2 border-2 p-2" v-if="member.hfAddress">
            <small>{{ t('HF_ADDRESS') }}</small>
            <div>{{ t(member.hfAddress) }}</div>
          </li>
          <li class="mt-2 border-2 p-2" v-if="member.hfId">
            <small>{{ t('HF_ID') }}</small>
            <div>{{ t(member.hfId) }}</div>
          </li>
          <li class="mt-2 border-2 p-2" v-if="member.philSysCardNo">
            <small>{{ t('PHILSYS_CARD_NO') }}</small>
            <div>{{ t(member.philSysCardNo) }}</div>
          </li>
          <li class="mt-2 border-2 p-2" v-if="member.cvsEducation">
            <small>{{ t('SET_CVS_EDUCATION') }}</small>
            <div>{{ t(member.cvsEducation ? 'YES' : 'NO') }}</div>
          </li>
          <li class="mt-2 border-2 p-2" v-if="member.attendingSchool">
            <small>{{ t('ATTENDING_SCHOOL') }}</small>
            <div>{{ t(member.attendingSchool ? 'YES' : 'NO') }}</div>
          </li>
          <li
            class="mt-2 border-2 p-2"
            v-if="member.reasonForNotAttendingSchool"
          >
            <small>{{ t('REASON_FOR_NOT_ATTENDING_SCHOOL') }}</small>
            <div>{{ t(member.reasonForNotAttendingSchool) }}</div>
          </li>
          <li class="mt-2 border-2 p-2" v-if="member.schoolName">
            <small>{{ t('SCHOOL_NAME') }}</small>
            <div>{{ t(member.schoolName) }}</div>
          </li>
          <li class="mt-2 border-2 p-2" v-if="member.schoolAddress">
            <small>{{ t('SCHOOL_ADDRESS') }}</small>
            <div>{{ t(member.schoolAddress) }}</div>
          </li>
          <li class="mt-2 border-2 p-2" v-if="member.schoolFacilityId">
            <small>{{ t('SCHOOL_FACILITY_ID') }}</small>
            <div>{{ t(member.schoolFacilityId) }}</div>
          </li>
          <li class="mt-2 border-2 p-2" v-if="member.lrn">
            <small>{{ t('LRN') }}</small>
            <div>{{ t(member.lrn) }}</div>
          </li>
          <li class="mt-2 border-2 p-2" v-if="member.education">
            <small>{{ t('EDUCATION') }}</small>
            <div>{{ t(member.education) }}</div>
          </li>
        </ul>
      </template>
    </template>
    <div class="mt-4 border-1 p-10">
      <div class="col-span-2 whitespace-pre-wrap">
        {{ t('TERMS_AND_CONDITIONS_CONTENT') }}
      </div>
      <div
        class="col-span-2 mt-8 whitespace-pre-wrap bg-gray-400 p-4 font-medium text-white"
      >
        {{ t('TERMS_AND_CONDITIONS_NOTICE') }}
      </div>
      <div class="mt-4 border-2 p-2">
        <img
          v-show="record.validatorSignature"
          :src="record.validatorSignature"
          class="h-24"
        />
        <div>{{ record.validatorName }}</div>
        <small>{{ t('VALIDATOR_NAME') }}</small>
      </div>
      <div class="mt-10 border-2 p-2">
        <img
          v-show="record.immediateSupervisorSignature"
          :src="record.immediateSupervisorSignature"
          class="h-24"
        />
        <div>{{ record.immediateSupervisorName }}</div>
        <small>{{ t('IMMEDIATE_SUPERVISOR_NAME') }}</small>
        <small class="block"
          >{{ t('IMMEDIATE_SUPERVISOR_POSITION') }}:
          {{ record.immediateSupervisorPosition }}</small
        >
      </div>
      <div class="mt-4 border-2 p-2">
        <img
          v-show="record.beneficiarySignature"
          :src="record.beneficiarySignature"
          class="h-24"
        />
        <div>{{ record.beneficiaryName }}</div>
        <small>{{ t('BENEFICIARY_NAME') }}</small>
      </div>
      <div class="mt-4 border-2 p-2">
        <small>{{ t('DATE_OF_ENUMERATION') }}</small>
        <div>
          {{ format(new Date(record.dateOfEnumeration), 'mm/dd/yyyy') }}
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { useI18n } from 'vue-i18n'
import type { Citizen } from '@/stores/citizen'
import { format } from 'date-fns'
const { t } = useI18n()

defineProps<{ record: Citizen }>()
defineExpose({ print })

function print() {
  const prtHtml = document.getElementById('print')?.innerHTML

  // Get all stylesheets HTML
  let stylesHtml = ''
  for (const node of [
    ...document.querySelectorAll('link[rel="stylesheet"], style'),
  ]) {
    stylesHtml += node.outerHTML
  }

  // Open the print window
  const WinPrint = window.open(
    '',
    '',
    'left=0,top=0,width=800,height=900,toolbar=0,scrollbars=0,status=0'
  )

  WinPrint?.document.write(`<!DOCTYPE html>
<html>
  <head>
    ${stylesHtml}
  </head>
  <body>
    ${prtHtml}
  </body>
</html>`)

  WinPrint?.document.close()
  WinPrint?.focus()
  WinPrint?.print()
}
</script>

<style scoped></style>
