<template>
  <div class="accordion">
    <div
      class="accordion-item"
      v-for="(step, index) in steps"
      :key="index"
      :class="{ active: step.active }"
    >
      <div
        class="accordion-item-label"
        :tabindex="index"
        @click="step.active = !step.active"
      >
        {{ step.stepLabel }}
        <ChevronDownIcon class="h-4 w-4" v-show="!step.active" />
        <ChevronUpIcon class="h-4 w-4" v-show="step.active" />
      </div>
      <div class="accordion-item-panel" v-show="step.active">
        <template v-if="step.id === StepIds.INFORMATION">
          <dl class="grid grid-cols-2">
            <dt>{{ t('FIRST_NAME') }}</dt>
            <dd>{{ citizen.firstName }}</dd>
            <dt>{{ t('MIDDLE_NAME') }}</dt>
            <dd>{{ citizen.middleName }}</dd>
            <dt>{{ t('LAST_NAME') }}</dt>
            <dd>{{ citizen.lastName }}</dd>
            <dt>{{ t('EXTENSION_NAME') }}</dt>
            <dd>{{ citizen.extensionName }}</dd>
            <dt>{{ t('BIRTHDATE') }}</dt>
            <dd>{{ format(new Date(citizen.birthdate), 'MMMM dd, yyyy') }}</dd>
            <!-- <dt>{{ t('HOUSEHOLD_STATUS') }}</dt>
            <dd>{{ t(citizen.hhStatus) }}</dd> -->
          </dl>
        </template>
        <template v-if="step.id === StepIds.ADDRESS">
          <p
            class="mb-4 cursor-pointer"
            :class="{ 'font-medium': activeAddress === citizen.address }"
            @click="viewAddress(citizen.address)"
          >
            {{ citizen.address }}
          </p>
          <GMapMap :center="markerPosition" :zoom="15" class="h-96 w-full">
            <GMapMarker :position="markerPosition" />
          </GMapMap>
          <div v-if="previousAddresses.length" class="mt-4">
            <h4 class="font-medium">{{ t('PREVIOUS_ADDRESSES') }}</h4>
            <ul class="mt-2 list-disc">
              <li
                v-for="(address, index) in previousAddresses"
                :key="index"
                class="mb-2 ml-4 list-item cursor-pointer"
                :class="{ 'font-medium': activeAddress === address }"
                @click="viewAddress(address)"
              >
                {{ address }}
              </li>
            </ul>
          </div>
        </template>
        <template v-if="step.id === StepIds.VALIDATION">
          <dl class="grid grid-cols-2 gap-2">
            <dt>{{ t('RECOMMENDATION') }}</dt>
            <dd>{{ t(citizen.recommendation || '') }}</dd>
          </dl>
        </template>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref, computed, onMounted } from 'vue'
import { type Citizen, StepIds } from '@/stores/citizen'
import { ChevronUpIcon, ChevronDownIcon } from '@heroicons/vue/24/solid'
import { useI18n } from 'vue-i18n'
import { format } from 'date-fns'

const { t } = useI18n()
const props = defineProps<{ citizen: Citizen }>()
const markerPosition = ref({ lat: 0, lng: 0 })
const activeAddress = ref('')

const steps = ref([
  {
    id: StepIds.INFORMATION,
    title: 'Household Information',
    stepLabel: 'Information',
    active: true,
  },
  {
    id: StepIds.ADDRESS,
    title: t('ADDRESS'),
    stepLabel: t('ADDRESS'),
    active: false,
  },
  {
    id: StepIds.VALIDATION,
    title: 'Household Validation',
    stepLabel: 'Household Validation',
    active: false,
  },
])

const previousAddresses = computed(() => {
  return props.citizen.previousAddresses
    ? JSON.parse(props.citizen.previousAddresses)
    : []
})

async function viewAddress(address: string) {
  const geocoder = new google.maps.Geocoder()
  const { results } = await geocoder.geocode({ address })
  markerPosition.value.lat = results[0].geometry.location.lat()
  markerPosition.value.lng = results[0].geometry.location.lng()
  activeAddress.value = address
}

onMounted(() => {
  console.log('on mounted')
  markerPosition.value = props.citizen.coordinates!
  activeAddress.value = props.citizen.address
})
</script>
