.accordion {
  .accordion-item {
    &.active .accordion-item-label {
      @apply font-medium;
    }

    &.invalid {
      &:hover .accordion-item-label,
      .accordion-item-label {
        @apply bg-danger text-white
        border-none
      }
    }

    &.invalid 

    .accordion-item-label:focus {
      @apply border-2 border-primary outline-0;
    }

    .accordion-item-label:hover {
      @apply cursor-pointer bg-gray-100;
    }
    .accordion-item-label {
      @apply flex place-content-between items-center border-2 border-transparent border-t-gray-100 px-3 py-2;
    }

    .accordion-item-panel {
      @apply p-2 px-3;
    }
  }
}

.tab-group {
  @apply grid grid-cols-12;
  .tab-list {
    @apply col-span-3 bg-gray-100;

    .tab-item {
      @apply cursor-pointer border-l-4 border-l-gray-200 p-4;
    }

    .tab-item.active {
      @apply border-l-primary;
    }

    .tab-item.invalid.visited {
      @apply border-l-danger bg-danger text-white;
    }

    .tab-item.valid {
      @apply border-l-lime-200 bg-lime-50;

      &.active {
        @apply border-l-lime-400;
      }
    }

    .tab-item.disabled {
      @apply bg-slate-400;
    }

    .tab-item:hover,
    .tab-item.valid:hover {
      @apply border-l-primary bg-primary text-white transition-colors;
    }
  }

  .tab-panels {
    @apply col-span-9 p-8 pt-0;

    .tab-panel {
      .input-group:not(:last-child) {
        @apply mb-4;
      }
      .input-group input[type='text'],
      .input-group input[type='date'],
      .input-group select {
        @apply w-96;
      }
    }
  }
}