@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;1,400;1,500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply
    py-3
    px-4
    disabled:opacity-50
    text-xs;
  }

  .btn-primary {
    @apply bg-primary
    hover:opacity-90
    border border-primary
    text-white;
  }

  .btn-secondary {
    @apply bg-zinc-700
    hover:opacity-90
    border border-zinc-700
    text-white;
  }

  .btn-danger {
    @apply bg-danger
    hover:opacity-90
    border border-danger
    text-white;
  }

  .btn-outline {
    @apply
    hover:bg-zinc-700
    border border-zinc-100;
  }

  .btn-outline:hover {
    @apply text-white
  }

  a {
    @apply text-sm text-primary font-medium cursor-pointer
  }
}