<template>
  <div
    class="input-group"
    :class="{ invalid: (!pristine || submitted) && error }"
  >
    <template v-if="is('text') || is('password') || is('date')">
      <label :for="id">{{ label }}</label>
      <input
        :type="type"
        :name="id"
        :id="id"
        :required="required"
        @input="update"
        @blur=";(pristine = false), $emit('blur')"
        :max="max || (limitToday ? today : undefined)"
        :disabled="disabled"
        :value="value || modelValue"
      />
    </template>
    <template v-if="is('select') && options?.length">
      <label :for="id">{{ label }}</label>
      <select
        :type="type"
        :name="id"
        :id="id"
        :required="required"
        @blur=";(pristine = false), $emit('blur')"
        @change=";(pristine = false), $emit('blur')"
        @input="update"
      >
        <option value="">{{ t('SELECT') }}</option>
        <option
          v-for="(option, index) in options"
          :key="index"
          :value="option.value"
          :selected="option.value === modelValue"
        >
          {{ option.label }}
        </option>
      </select>
    </template>
    <template v-if="is('radio') && options?.length">
      <h4 class="label">{{ label }}</h4>
      <div class="radio-item" v-for="(option, index) in options" :key="index">
        <input
          :id="`${option.value}-${id}`"
          type="radio"
          :value="option.value"
          @input="update($event), (pristine = false), $emit('blur')"
          :name="`radio-${id}`"
          :checked="option.value === modelValue"
        />
        <label
          :for="`${option.value}-${id}`"
          :class="{ active: option.value === modelValue }"
          >{{ option.label }}</label
        >
      </div>
    </template>
    <template v-if="is('toggle')">
      <div class="checkbox-item">
        <input
          :id="`checkbox-${id}`"
          type="checkbox"
          :value="!modelValue"
          @input="update($event), (pristine = false), $emit('blur')"
          :name="`checkbox-${id}`"
          :checked="modelValue === true"
        />
        <label :for="`checkbox-${id}`">{{ label }}</label>
      </div>
    </template>
    <template v-if="is('textarea')">
      <label :for="id">{{ label }}</label>
      <textarea
        :name="`textarea-${id}`"
        :id="`textarea-${id}`"
        :required="required"
        @input="update"
        @blur=";(pristine = false), $emit('blur')"
        :max="max"
        :cols="cols"
        :rows="row"
      />
    </template>
    <template v-if="is('gmap-autocomplete')">
      <label :for="id">{{ label }}</label>
      <GMapAutocomplete
        :placeholder="placeholder"
        @place_changed="$emit('placeChanged', $event)"
        class="gmap-autocomplete"
        :value="modelValue"
        @blur=";(pristine = false), $emit('blur')"
      />
    </template>
    <small class="field-error" v-if="(!pristine || submitted) && error">{{
      t(error)
    }}</small>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import { nanoid } from 'nanoid'
import { useI18n } from 'vue-i18n'
import { safelyParseJSON } from '@/utils/parsers'
import type { FieldOption, FieldType, FieldValue } from '@/types/components'

const id = nanoid(10)
const { t } = useI18n()
const props = defineProps<{
  modelValue?: FieldValue
  type: FieldType
  label: string
  options?: FieldOption[]
  required?: boolean
  placeholder?: string
  error?: string
  max?: string | number
  cols?: string
  row?: string
  limitToday?: boolean
  submitted?: boolean
  disabled?: boolean
  value?: FieldValue
}>()
const $emit = defineEmits([
  'update:modelValue',
  'blur',
  'change',
  'placeChanged',
])
const pristine = ref(true)
const today = new Date().toISOString().split('T')[0]

function update({ target }: Event) {
  const { value } = target as HTMLInputElement
  const parsed = safelyParseJSON<boolean>(value.toLowerCase())
  $emit('update:modelValue', typeof parsed === 'boolean' ? parsed : value)
}

function is(type: FieldType) {
  return type === props.type
}
</script>

<style scoped lang="scss">
.input-group {
  label,
  input,
  textarea,
  select {
    @apply block w-full;
  }

  label {
    @apply mb-2 text-sm;
  }

  h4.label {
    @apply mb-2 font-medium;
  }

  small.field-error {
    @apply block text-sm text-danger;
  }

  input[type='text'],
  input[type='email'],
  input[type='password'],
  input[type='date'],
  input.gmap-autocomplete,
  select,
  textarea {
    @apply h-10
    border-b-1
    border-b-gray-500
    bg-gray-100
    px-3
    focus:border-none focus:border-primary focus:outline-none focus:ring;
  }

  &.invalid {
    input[type='text'],
    input[type='email'],
    input[type='password'],
    input[type='date'],
    input.gmap-autocomplete,
    select,
    textarea {
      @apply border-b-danger;
    }
  }

  textarea {
    @apply h-auto pt-2;
  }

  .radio-item,
  .checkbox-item {
    @apply flex items-center;

    label {
      @apply mb-0 text-base;
    }

    label.active {
      @apply font-medium;
    }
  }

  .radio-item input[type='radio'],
  .checkbox-item input[type='checkbox'] {
    @apply mr-4 w-auto;
  }

  .radio-item label,
  .checkbox-item label {
    @apply cursor-pointer;
  }
}
</style>
