<template>
  <TransitionRoot appear :show="isOpen" as="template">
    <Dialog as="div" @close="close" class="relative z-10">
      <TransitionChild
        as="template"
        enter="duration-300 ease-out"
        enter-from="opacity-0"
        enter-to="opacity-100"
        leave="duration-200 ease-in"
        leave-from="opacity-100"
        leave-to="opacity-0"
      >
        <div class="fixed inset-0 bg-black bg-opacity-25" />
      </TransitionChild>

      <div class="fixed inset-0 overflow-y-auto">
        <div
          class="flex min-h-full items-center justify-center p-4 text-center"
        >
          <TransitionChild
            as="template"
            enter="duration-300 ease-out"
            enter-from="opacity-0 scale-95"
            enter-to="opacity-100 scale-100"
            leave="duration-200 ease-in"
            leave-from="opacity-100 scale-100"
            leave-to="opacity-0 scale-95"
          >
            <DialogPanel
              class="w-full max-w-md transform overflow-hidden bg-white text-left align-middle shadow-xl transition-all"
            >
              <div class="p-6">
                <GMapMap
                  :center="center"
                  :zoom="15"
                  class="h-96 w-full"
                  @click="handleClick"
                >
                  <GMapMarker :position="center" />
                </GMapMap>
              </div>

              <div class="mt-4 grid w-full grid-cols-1">
                <button type="button" class="btn btn-secondary" @click="close">
                  Close
                </button>
              </div>
            </DialogPanel>
          </TransitionChild>
        </div>
      </div>
    </Dialog>
  </TransitionRoot>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import {
  TransitionRoot,
  TransitionChild,
  Dialog,
  DialogPanel,
} from '@headlessui/vue'
import type { Citizen } from '@/stores/citizen'
const isOpen = ref(false)
const center = ref({ lat: 0, lng: 0 })
const hideMap = ref(false)

function close() {
  isOpen.value = false
}

async function open(coordinates: Citizen['coordinates']) {
  isOpen.value = true
  hideMap.value = false
  if (!coordinates) hideMap.value = true
  else {
    center.value.lat = coordinates.lat
    center.value.lng = coordinates.lng
  }
}

function handleClick(event: any) {
  center.value.lat = event.latLng.lat()
  center.value.lng = event.latLng.lng()
}

defineExpose({ open })
</script>
